    <div ng-controller="createController" layout="column" style="height:100%;" class="page">

    


  <section layout="row" flex="">
<!-- class="md-primary md-hue-9"-->

       <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" >
      <md-toolbar class="md-theme-indigo">
        <h2 class="md-toolbar-tools">{{currentPage.title}}</h2>

      </md-toolbar>
      <md-content layout-padding="" >
        <md-button aria-label="close" ng-click="close()" class="md-primary" hide-gt-md="">
          Close Sidenav Left
        </md-button>

        <md-list class="subMenu">
     <md-list-item ng-repeat="item in items" role="listitem" class="md-proxy-focus md-ink-ripple" >

            <md-button class="md-secondary menuButton"  aria-label="{{item}}" >{{item.title}} </md-button>
            <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
        </md-list>

<!--
        <p hide-md="" show-gt-md="">
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
-->
      </md-content>

    </md-sidenav>
   
    <md-content flex="" layout-padding="">
<!--
             <md-select ng-model="subMenu">
            <md-option ng-repeat="item in items" ng-value="item.title">{{item.title}}</md-option>
            </md-select>
-->
      <div layout="column" layout-fill="" layout-align="top center">
                  <md-button aria-label="toggle left nav" ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
            Toggle Menu
          </md-button>
         <md-switch ng-model="items[currentPage].showconditions" aria-label="Show Conditions">
            Show conditions message: {{items[currentPage].showconditions}}
          </md-switch>
         <md-switch ng-model="items[currentPage].showlimitations" aria-label="Show limitations">
            Show limitations message: {{items[currentPage].showlimitations}}
          </md-switch>

      </div>
      
      <div flex=""></div>

    <md-list ng-repeat="checklist in currentPage.checkboxes">
    <md-subheader class="md-no-sticky">{{checklist.title}}</md-subheader>
     <md-list-item ng-repeat="checkbox in checklist" role="listitem" class="md-proxy-focus md-ink-ripple md-clickable ng-scope" >

            <md-checkbox class="md-secondary"  aria-label="{{checkbox}}" >{{checkbox}} </md-checkbox>

      </md-list-item>
    </md-list>



         <md-button class="md-fab" aria-label="Photos" >
<!--            <ng-md-icon icon="camera" alt="send" style="fill:white; margin-top:15px;" size="24"></ng-md-icon>-->
           <i class="fa fa-camera"></i>
        </md-button>
    </md-content>



  </section>

</div>

