.home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  box-sizing: border-box;
  padding: 10px;
}

.home .button {
  min-width: 45%;
  flex: 1;
  margin: 10px;
  padding: 12px 0;
  display: inline-flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
}

.home .button::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #333;
  opacity: .25;
  z-index: 128;
}

.home .button span {
  font-size: 18pt;
  font-weight: bold;
  z-index: 129;
}

.home .button:nth-child(2n) {
  page-break-after: always;
}

.home md-icon {
  height: 60px;
  width: 60px;
}

.castleBanner {
    display: block;
    height: 100px;
    width: 265px;
    margin: 18px;
    background-image: url(../../img/CastleLogo_white_800.png);
/*    background-origin:content-box;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.dialog{
  width: 100%;
  height: calc(100% - 168px);
  position: fixed;
  z-index: 130;
  left: 0;
  top: 128px;
  overflow: auto;
  padding-top: 20px;
  background-color: rgba(0,0,0,0.8);
}

.dialog-content{
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.dialog-header{
  padding: 2px 16px;
  background-color: rgb(7,47,73);
  color: white;
}
.dialog-body{
  padding: 2px 16px;
}
.dialog-footer{
  padding: 2px 16px;
  background-color: rgb(7,47,73);
  color: white;
}