<link type="text/css" rel="stylesheet" href="dialogs/camera/camera.css" />
<div class="page">
    <div>
      <div class="controls">
        <!-- <div class="block">
          <md-button aria-label="start camera" id="startCameraAboveButton" ng-click="camera_manager.startCamera()" class="md-raised">Start Camera</md-button>
          <md-button aria-label="stop camera" id="stopCameraButton" ng-click="camera_manager.stopCamera()" class="md-raised">Stop Camera</md-button>
        </div> -->

        <div>
            <md-menu>
              <md-button aria-label="Flash Mode" 
                         class="md-icon-button" 
                         ng-click="$mdMenu.open($event)"
                         >
                <md-icon md-menu-origin md-svg-icon="flash_auto" style="color: white;"></md-icon>
              </md-button>
              <md-menu-content width="2">
                <md-menu-item>
                  <md-button ng-click="setFlashMode('auto')">
                      <md-icon md-svg-icon="flash_auto"></md-icon> auto
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="setFlashMode('on')">
                     <md-icon md-svg-icon="flash_on"></md-icon> auto on
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="setFlashMode('off')">
                     <md-icon md-svg-icon="flash_off"></md-icon> off
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="setFlashMode('torch')">
                      <md-icon md-svg-icon="flare"></md-icon> torch
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>

            <md-menu>
              <md-button aria-label="Zoom zoom" 
                         class="md-icon-button" 
                         ng-click="$mdMenu.open($event)"
                         >
                <md-icon md-menu-origin md-svg-icon="zoom_in" style="color: white;"></md-icon>
              </md-button>
              <md-menu-content width="6">
                <md-menu-item style="padding: 14px 4px 4px 4px;">
                
                <md-slider-container class="md-primary">
                  <span class="md-body-1">Zoom: </span>
<!--                  <md-icon md-svg-icon="remove"></md-icon>-->
                  <md-slider flex md-discrete 
                  ng-model="zoomSlider" 
                  step="1" min="1" max="5" 
                  aria-label="zoom slider"
                  >
                  </md-slider>
<!--                  <md-icon md-svg-icon="add"></md-icon>-->
                </md-slider-container>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
         
        </div>
      </div>

<!--      <div class="pictures">
        <p><img id="originalPicture" width="200" /></p>
      </div>-->

      <div layout="row" layout-align="space-around center" class="fixedFooter" >

              <md-button   class="md-primary md-icon-button" 
                          id="switchCameraButton" 
                          ng-click="camera_manager.switchCamera()" 
                          aria-label="switch camera">
                          <md-icon md-svg-icon="switch_camera" style="color:white;"></md-icon>
              </md-button>
              <md-button  class="md-raised md-fab" 
                          id="takePictureButton" 
                          ng-click="camera_manager.takePicture()" 
                          aria-label="take picture">
                          <md-icon md-svg-icon="shutter_camera" style="color:black;"></md-icon>
              </md-button>
              <div  class="previewCircle" 
                          id="originalPicture"
                          ng-click="" 
                          aria-label="preview images">
                         
              </div>

      </div>

<!--
      <md-button aria-label="Cancel" ng-click="camera_manager.cancel()" class="md-raised">Cancel</md-button>
      <md-button aria-label="Accept" ng-click="camera_manager.accept()" class="md-raised">Accept</md-button>
-->
    </div>
</div>
