body {
  user-select: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.action {
  position: fixed;
  bottom: 0;
  right: 0;
}

#view {
    height: 100%;
    width: 100%;
/*  padding-bottom: 100px;*/
}

/** HACKS to get the toolbar action working **/


/** TODO: Don't have the toolbar cover the content from click event. **/

md-fab-toolbar {
  width: 100vw;
}

.page {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.actionSpace {
    padding-bottom: 100px !important;
}

.noOverflow {
    height:100%; 
    width:100%; 
    overflow: hidden;
}


