.report #view {
  overflow: hidden;
}

.report .action {
  opacity: .8;
}

.report .control {
  position: fixed;
  bottom: 10px;
  opacity: .8;
}

.report .control:active {
  opacity: 1;
}

.report .tilt {
  transform: rotateZ(-9deg);
  padding-bottom: 60%;
  padding-right: 10%;
}

.report .loading {
  background-image: url(../../assets/clipboard_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: cursive;
  opacity: 1;
}

.report hr {
  border: none;
  border-top: solid 1px #333;
  animation-name: colors;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  height: 0;
  opacity: .75;
}

#render {
  border: none;
  margin: 0 10px;
  height: 100%;
  width: calc(100% - 20px);
}
