<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Framework Scripts -->
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/js/dropdown.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        
        <!-- Application Scripts -->
        <script src="js/index.js"></script>
        <script src="js/createController.js"></script>
        <script src="js/socialController.js"></script>
        <script src="js/marketplaceController.js"></script>
        <script src="js/additemController.js"></script>
        <script src="js/closetController.js"></script>
        <script src="js/accountController.js"></script>
        <script src="js/addpostController.js"></script>
        <script src="js/pushWoosh.js"></script>

        <!-- Stylesheets -->
        <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
        <link type="text/css" rel="stylesheet" href="default.css" />
        
        <!-- overrides should always go last, just fyi -->
        <link type="text/css" rel="stylesheet" href="css/override.css" />

        <title>FashionMe</title>
    </head>
    <body>
        <div ng-app="fashionApp">

            <div ng-controller="indexController">
                <header>
                    <md-toolbar>
                      <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Navigation" ng-click="toggleNavigation()" ng-model-options="{ debounce: 1000 }">
                          <i class="fa fa-bars"></i>
                        </md-button>
                        <span flex></span>
                        <h2 class="page_header">
                          <span>{{service.currentPage.title}}</span>
                        </h2>
                        <span flex></span>
                          <md-button ng-href="#account"><img class="profile_picture" style="background-image: url({{service.currentUser.profile_image}})" /></md-button>
                      </div>
                    </md-toolbar>
                </header>
                
                <md-sidenav class="md-sidenav-left md-whiteframe-z2 main_menu" md-component-id="main">
                    <md-content style="height: 100%;">
                        <img src="assets/fashion_me_logo.png" width="100%"/>
                        <md-list>
                            <a href="{{page.link}}" ng-repeat="page in navigationPages" ng-click="toggleNavigation()">
                          <md-list-item class="md-3-line">
                            <i class="fa fa-{{page.icon}}"></i>
                            <div class="md-list-item-text">
                              <h2>{{page.title}}</h2>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                          </md-list-item>
                            </a>
                        </md-list>
                        <md-button class="nav_button md-raised md-primary" ng-href="#account" ng-click="toggleNavigation()">Sign in</md-button>
                    </md-content>
                </md-sidenav>
                
                <md-content>
                    <div ng-view class="ng-view-window"></div>
                </md-content>
                <footer>

                    <div class="fab_add_expand" ng-show="show_add_icons">
                        <a ng-href="#addpost" ng-click="toggleAdd()">
                        <span class="fab_add_label">Post</span>
                        <md-button class="md-fab md-hue-1 fab_add_button">
                            <i class="fa fa-plus"></i>
                        </md-button>
                        </a>
                        
                        <a ng-href="#additem" ng-click="toggleAdd()">
                        <span class="fab_add_label">Add Item</span>
                        <md-button class="md-fab md-hue-2 fab_add_button">
                            <i class="fa fa-plus"></i>
                        </md-button>
                        </a>
                        
                        <a ng-href="#create" ng-click="toggleAdd()">
                        <span class="fab_add_label">New Outfit</span>
                        <md-button class="md-fab md-hue-3 fab_add_button">
                            <i class="fa fa-plus"></i>
                        </md-button>
                        </a>
                    </div>
                    
                    <md-button class="md-fab md-primary" ng-click="toggleAdd()">
                        <i class="fa fa-plus"></i>
                    </md-button>
                </footer>
                
                <!--
                <footer>
                    <div class="container">
                    <a href="#"><i class="fa fa-3x fa-pencil-square"></i>Create</a>
                    <a href="#social"><i class="fa fa-3x fa-share-alt-square"></i>Social</a>
                    <a href="#marketplace"><i class="fa fa-3x fa-share-square"></i>Shop</a>
                    <a href="#additem"><i class="fa fa-3x fa-check-square"></i>Add Item</a>
                    <a href="#closet"><i class="fa fa-3x fa-th-large"></i>Closet</a>
                    </div>
                </footer>
                -->
            </div>
        </div>
    </body>
</html>
