<link type="text/css" rel="stylesheet" href="pages/inspection/inspection.css" />
<div flex="" layout="column" class="page" id="new">
  <md-content>
   <div class="centerPage" id="centerPage">
    <md-card>
      <div style="padding: 10px">
        <h1>Start a New Inspection</h1>
        
        <div style="border-bottom: solid 1px #333; margin: 40px 0;"></div>
        
        <p>Please enter a name and choose the theme and template that you would like to use for this inspection.</p>
        <p>The <strong>theme</strong> is what controls what your final report will look like.<br />
          The <strong>template</strong> is a starting point for you to get up and going with your inspections.<br />
          This is where all of the questions and deafult values specific to your inspections come from.</p>
      </div>
      
      <div style="border-bottom: solid 1px #333; margin: 40px 10px;"></div>
      <form name="newInsForm" id="newInsForm">
      
      <md-input-container class="md-block">
        <label>Name</label>
        <input type="text" ng-model="sName" required name="name">
        <div ng-messages="newInsForm.name.$error">
            <div ng-message="required">This is required</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
       <label>Select a Theme</label>
        <md-select name="theme_select" ng-model="sTheme"required>
          <md-option ng-repeat="theme in themes
                                         track by $index" ng-value="theme">
            {{theme.title}}</md-option>
        </md-select>
      </md-input-container>

      <md-input-container class="md-block">
       <label>Select a Template</label>
        <md-select name="template_select" required ng-model="sTemplate">
          <md-option ng-repeat="template in templates
                                         track by $index" ng-value="template">
            {{template.insTemplateTitle}}</md-option>
        </md-select>
      </md-input-container>
      </form>
    </md-card>
    </div>
  </md-content>
</div>
