<link type="text/css" rel="stylesheet" href="pages/inspection/inspection.css" />
<div class="page">
  <div class="filter-bar" layout="row" layout-align="space-around center">
    <md-input-container>
      <label>Search</label>
      <input ng-model="search">
    </md-input-container>
    <md-input-container>
      <md-select ng-model="sort" placeholder="Sort">
        <md-option ng-value="">None</md-option>
        <md-option ng-value="filter" ng-repeat="filter in sort_filters">{{ filter }}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <md-select ng-model="state" placeholder="Status">
        <md-option ng-value="">None</md-option>
        <md-option ng-value="state" ng-repeat="state in state_filters">{{ state }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <md-card class="inspection" ng-hide="angular.equals([], reports)" ng-repeat="report in reports track by $index">
    <md-card-content>
      <div layout="row" layout-align="start center">
        <img class="report-thumbnail" src="assets/inspection_background.jpg" hide-xs show-sm />
        <div layout-fill>
          <div class="report-meta">
            <p class="md-title">{{report.insName}}</p>
            <p>{{report.insType}}</p>
            <p>{{report.insLastSubmitted | date:'medium'}}</p>
          </div>
          <div layout-fill layout="row" layout-align="end center">
            <md-button class="md-raised" ng-click="goToInspection(report.insId);">Edit</md-button>

            <md-button class="md-raised" ng-click="goToPreview(report.insId);">Preview</md-button>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
