<link type="text/css" rel="stylesheet" href="pages/inspection/inspection.css" />
<div flex="" layout="column" class="page">
   <md-content class="centerScroll">
       
    <div class="progressBar" layout="row" layout-align="start center">
          <div ng-click="stepDownTo(0)" class="step" ng-class="step < 1 ? 'active' : ''">1</div>
          <span flex=""></span>
          <div ng-click="stepDownTo(1)" class="step" ng-class="step === 1 ? 'active' : ''">2</div>
          <span flex=""></span>
          <div ng-click="stepDownTo(2)" class="step" ng-class="step === 2 ? 'active' : ''">3</div>
          <span flex=""></span>
          <div ng-click="stepDownTo(3)" class="step" ng-class="step === 3 ? 'active' : ''">4</div>
    </div>
<!--    <md-divider></md-divider>  -->
    <div class="centerPage" style="margin-bottom:85px;" id="centerPage">
    <div layout="row" layout-align="space-between center">
        <h2 class="md-subhead insTitle" 
            style="margin-bottom:0px;">{{message}}</h2>
    </div>
     <div ng-repeat="item in chipList track by $index" layout="column" >
      <md-button class="outerChip" aria-label="item.title" ng-click="stepUp($index)">
         <div>{{item.title}}</div>
      </md-button>
     </div>        
        
    </div>
  </md-content>
</div>