<link type="text/css" rel="stylesheet" href="pages/inspection/inspection.css" />
<div class="page" ng-cloak>
  <div class="filter-bar" layout="row" layout-align="space-around center">
    <md-input-container>
      <label>Search</label>
      <input ng-model="search">
    </md-input-container>
    <md-input-container>
      <md-select ng-model="sort" placeholder="Sort">
        <md-option ng-value="">None</md-option>
        <md-option ng-value="filter" ng-repeat="filter in sort_filters">{{ filter }}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <md-select ng-model="state" placeholder="Status">
        <md-option ng-value="">None</md-option>
        <md-option ng-value="state" ng-repeat="state in state_filters">{{ state }}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div ng-cloak ng-show="inspections.length == 0 || inspections.length <= numDeleted" style="padding-left: 16px;">
    No inspections yet!
  </div>
  <div class="buttonHere" ng-cloak ng-show="inspections.length == 0 || inspections.length <= numDeleted">
    <md-button ng-cloak class="md-fab md-mini md-primary" aria-label="new inspection" ng-click="newInspection()">
      <md-icon ng-cloak md-svg-icon="add"></md-icon>
    </md-button>
  </div>

  <md-card class="inspection" ng-hide="angular.equals([], inspections) || inspection.deleted === true" ng-repeat="inspection in inspections track by $index">
    <md-card-content>
      <div layout="row" layout-align="start center">
        <div layout-fill>
          <div class="report-meta">
            <p class="md-title" layout="row" layout-align="space-between">
              <span>{{inspection.insName}}</span>
              <span>{{inspection.insType}}</span>
            </p>
            <p>{{inspection.insLastModified.split('GMT')[0]}}</p>
          </div>
          <div layout-fill layout="row" layout-align="space-between center" style="padding-left: 10px;">
            <span>
              <md-button class="md-raised md-accent" ng-click="goToInspection(inspection);">Edit</md-button>
              <md-button class="md-raised" ng-click="goToPreview(inspection.insId);">Review</md-button>
              <md-button class="md-raised hide-xs" ng-click="send(inspection.insId);">Send</md-button>
            </span>

            <md-menu>
              <md-button class="md-icon-button" aria-label="extras menu" ng-click="openMenu($mdMenu, $event)">
                <md-icon md-svg-icon="more_vert"></md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button ng-click="rename(inspection, inspection.insName, $index)">
                    <md-icon md-svg-icon="mode_edit" md-menu-align-target></md-icon>
                    Rename
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="export(inspection.insId);">
                    <md-icon md-svg-icon="export" md-menu-align-target></md-icon>
                    Export
                  </md-button>
                </md-menu-item>
                <md-menu-item class="hide show-xs">
                  <md-button ng-click="send(inspection.insId)">
                    <md-icon md-svg-icon="send" md-menu-align-target></md-icon>
                    Send
                  </md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="delete($index)">
                    <md-icon md-svg-icon="delete" md-menu-align-target></md-icon>
                    Delete
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </div>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
