#view {
    height:100%; 
    width:100%; 
    overflow: auto;
}

.page {
  height: auto;
  padding-bottom: 60px;
}

.pagePadding {
    padding: 8px;
}
.questionIndent {
/*    margin-left: 8px;*/
}

.disabled, .disabled md-input-container label,
.disabled md-input-container .md-input-message-animation {
    color:rgba(0,0,0,0.38) !important;
}

.description {
    margin: 4px 0 8px 0;
    
}



.label {
    font-size: 10px;
    color: rgba(0, 0, 0, 0.54);
}

.buttonWrapper {
    padding: 4px 4px 4px 4px;
}

.selectedBtn {

}

.inlineInput {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.12);
    border-width: 0 0 1px 0;
    margin: 0 0 16px 4px;
    background-color: inherit;
}

.flatCard {
    box-shadow: none;
}
