<link type="text/css" rel="stylesheet" href="./dialogs/camera/camera_preview.css" />
<link type="text/css" rel="stylesheet" href="./pages/inspection/inspection_detail.css" />
<div class="page">
    <div class="pagePadding">

        <div layout="row">
            <div flex=""></div>
            <md-switch md-invert 
                       ng-model="question.value.notApplicable"
                       style="color:rgba(0,0,0,0.87);">
            Not Applicable
            </md-switch>
        </div>
        <div class="md-title">{{question.value.title}}</div>
        <div class="md-caption description">{{question.value.description}}</div>
    <form name="questionForm" style="padding-left: 0px;"  ng-class="question.value.notApplicable ? 'disabled' : ''">
        <div ng-if="question.value.type == 'checkbox'">
            <div ng-repeat="checkBox in question.value.values track by $index" class="questionIndent">
                <md-checkbox ng-checked="exists(checkBox.key, question.value.answers)" 
                             ng-click="toggle(checkBox.key, question.value.answers)"
                             ng-disabled="question.value.notApplicable">
                    {{checkBox.key}}
                </md-checkbox>
            </div>
            <md-checkbox ng-model="newCheckBoxKey" 
                         ng-click="toggle(otherValue.value, question.value.answers, true)">
                Other:
            </md-checkbox>
            <input  ng-show="newCheckBoxKey"
                    ng-model="otherValue.value" 
                    type="text" 
                    class="inlineInput"
                   >
        </div>
        <div ng-if="question.value.type == 'radioButton'">
            <md-radio-group ng-model="question.value.answer"
                            ng-required="question.value.validation.isRequired"
                            ng-disabled="question.value.notApplicable">
                <md-radio-button ng-repeat="radioButton in question.value.values" 
                                 class="questionIndent" 
                                 ng-value="radioButton.key">{{radioButton.key}}
                </md-radio-button>
                <div layout="row" layout="start center">
                <md-radio-button class="questionIndent" 
                                 ng-value="otherValue.singleSelect">Other
                </md-radio-button>
                 <div style="margin-left: 8px;">
                    <input  ng-model="otherValue.singleSelect" 
                            type="text" 
                            class="inlineInput">
                 </div>
                 </div>
            </md-radio-group>
        </div>
        <div ng-if="question.value.type == 'selectOption'">
            <md-select ng-model="question.value.answer" 
                       placeholder="Choose" 
                       class="md-no-underline"
                       ng-required="question.value.validation.isRequired"
                       ng-disabled="question.value.notApplicable">
                <md-option ng-repeat="selectOption in question.value.values" ng-value="selectOption.key">{{selectOption.key}}
                </md-option>
            </md-select>
        </div>
        <div ng-if="question.value.type == 'shortText'">
            <md-input-container>
                <label>Your Answer</label>
                <input ng-model="question.value.answer" 
                       type="{{question.value.validation ? question.value.validation.type : 'text'}}" 
                       md-minlength='question.value.validation.min' 
                       md-maxlength='question.value.validation.max'
                       md-select-on-focus
                       ng-required="question.value.validation.isRequired"
                       ng-disabled="question.value.notApplicable"
                       name="shortText"
                       >
                <div ng-messages="questionForm.shortText.$error" 
                     ng-show="questionForm.shortText.$dirty">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="md-minlength">That's too short!</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
        </div>
        <div ng-if="question.value.type == 'textArea'">
            <md-input-container class="md-block" >
                <label>Your Answer</label>
                <textarea ng-model="question.value.answer" 
                          md-minlength="question.value.validation.min" 
                          md-maxlength="question.value.validation.max" 
                          md-select-on-focus
                          ng-required="question.value.validation.isRequired"
                          ng-disabled="question.value.notApplicable"
                          name="testArea"></textarea>
                <div ng-messages="questionForm.testArea.$error" 
                     ng-show="questionForm.testArea.$dirty">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="md-minlength">That's too short!</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
        </div>
        <div ng-if="question.value.type == 'photo'">
            <div ng-show="question.value.photos.length <= 0">
                No Photos Yet!
            </div>

            <div layout="row" layout-align="start center" layout-wrap>
            <div ng-repeat="photo in question.value.photos"
                 class="photo md-whiteframe-1dp"
                 
                 style="background-image: url( {{photo.link}} ); margin: 10px;" 
                 ng-click="showFullScreen($event, photo)">
                </div>
            </div>
                        <md-button class="md-accent md-raised"
                       ng-disabled="question.value.notApplicable"
                       ng-click="addPhotos()">  
                Add Photos
            </md-button>
        </div>
    </form>
         
        <div style="margin: 8px 0px 0px 0px;">
            <div class="md-title">Summary Remarks</div>
            <div class="md-caption" style="margin: 4px 0 4px 0;" >Summary Remarks are appended to the Summary Section</div>
            <div layout="row" layout-wrap>
                <div class="md-caption"></div>
                <div ng-repeat="fabButton in severityList" 
                     class="buttonWrapper"
                     layout="column" layout-align="center center">
                    <md-button class="md-fab md-mini" 
                               ng-class="question.value.severity == fabButton.title ? 'md-accent selectedBtn' : 'md-raised'"
                               aria-label="fabButton.title"
                               ng-click="setSeverity(fabButton.title)"
                               ng-disabled="question.value.notApplicable">
                        <md-icon md-svg-icon="{{fabButton.icon}}"></md-icon>
                    </md-button>
                    <div class="label">{{fabButton.title}}</div>
                </div>
            </div>
            <div>
            <md-switch ng-model="question.value.showSummaryRemark"
                       ng-disabled="question.value.notApplicable"
                       >
            Include Response
            </md-switch>
            <md-switch ng-model="question.value.showDescription"
                       ng-disabled="question.value.notApplicable"
                       >
            Include Description
            </md-switch>
            </div>
            <md-card>
                <md-card-content>
                    <div ng-if="question.value.type === 'checkBox' && question.value.severity && question.value.severity !== 'Non-Issue' && question.value.showSummaryRemark" >
                        <div class="md-subhead"><b>{{question.value.severity}}</b></div>
                        <div ng-repeat="answer in question.value.answers">
                            {{question.value.title}} {{answer}}
                        </div>
                    </div>
                    <div ng-if="question.value.type !== checkBox && question.value.severity && question.value.severity !== 'Non-Issue' && question.value.showSummaryRemark" >
                        <div class="md-subhead"><b>{{question.value.severity}}</b></div>
                        <div >
                            {{question.value.title}} {{question.value.answer}}
                        </div>
                    </div>
                    <div ng-show="question.value.showDescription && question.value.severity && question.value.severity !== 'Non-Issue'">
                        {{question.value.description}}
                    </div>
                    <div ng-show="!question.value.severity || question.value.severity === 'Non-Issue' || (!question.value.showSummaryRemark && !question.value.showDescription)" class="md-caption" style="color:rgba(0, 0, 0, 0.54);">
                    <i>summary remark preview</i>
                    </div>
                </md-card-content>
            </md-card>
        </div>
     </div>   
</div>


