#view {
  height: 100%;
  width: 100%;
  overflow:auto;
}

md-input-container {
/*
  min-width: 100px;
  min-height: 58px;
  margin: 0;
*/
}

.inspection {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
}

.report-thumbnail {
  display: block;
  width: 200px;
  height: auto;
}

.report-meta {
  display: block;
  margin-left: 10px;
  vertical-align: top;
}

.report-meta>p {
  margin: 10px 5px;
}

.filter-bar {
  padding-top: 20px;
  padding-bottom: 0;
}

.centerPage {
  max-width: 950px;
  margin: 4px auto;
  padding: 8px;
}

.insTitle {
  margin-left: 8px;
  margin-bottom: 0px;
}

.nonEditInput {
  background-color: white;
  border: none;
}

.centerScroll {
  overflow-x: hidden;
}

.page {
  height: auto;
  padding-bottom: 60px;
}

#new.page md-input-container {
  margin: 10px;
/*  width: calc(100% - 20px);*/
}

.editInput {
    border-width: 0 0 1px 0;
    border-color:rgba(0, 0, 0, 0.12);
    background-color: inherit;
}

.outerChip {
    text-align: left;
    border-radius: 16px;
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 8px 8px 0 0;
    padding: 0 12px;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
    background-color: rgb(224, 224, 224);
    cursor:pointer;
    text-transform: none;
}

    .progressBar {
        width:100%; 
/*        background-color: white; */
        color: darkgrey;
        padding: 0px 8px;
        clear: both;
    }
    .progressBar .step {
      display:block;
      font-size: 12px;
      width: 30px;
      height: 30px;
      line-height: 28px;
      border: 2px solid #7d7d7d;
      text-align: center;
      margin: 4px auto 4px auto;
      border-radius: 50%;
      background-color: white;
      vertical-align: middle;
      border-color: #55b776;
      color: #55b776;
    }
    .progressBar span {
        background-color: #55b776;
        height: 3px;
    }
    .progressBar .active~span{
        background-color: #DDD; 
    }
    .progressBar .active~div {
        border-color: #DDD;
        color: #DDD;
    }

.photoThumb {

}

.progressBar .step.previewCircle {
    display: inline-block;
    z-index: 20;
    line-height: 56px;
    width: 56px;
    height: 56px;
    min-height: 36px;
    min-width: 0;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    margin: 6px 0px 6px 8px;
    background-color:darkgray;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    color: white;
}

.selectedChip {

}

.previewThumbnail {
    display: inline-block;
    z-index: 20;
    line-height: 56px;
    width: 56px;
    height: 56px;
    min-height: 36px;
    min-width: 0;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    margin: 6px 8px;
    background-color:darkgray;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: content-box;
    -webkit-transition: width .5s, height .5s; /* Safari */
    transition: width .5s, height .5s;
}

.previewLarge .previewThumbnail {
    height:350px;
    width: 350px;
}

.corner {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.filter-bar md-input-container {
height: 58px;
}
.pictureHere {
 
}
