.inspection {
  margin-top: 10px;
}
.report-thumbnail {
  height: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
}
.report-meta {
  display: inline-block;
  vertical-align: top;
}
.report-meta > a{
  display: block;
}
.centerPage {
    max-width:950px;
    margin:0 auto;
}
.insTitle {
    margin-left:8px;
    margin-bottom: 0px;
}
.nonEditInput {
    background-color: white;
    border: none;
}
.centerScroll {
    overflow-x: hidden;
}