<link type="text/css" rel="stylesheet" href="./pages/inspection/inspection.css" />
<link type="text/css" rel="stylesheet" href="./pages/inspection/inspection_wizard.css" />
<div class="page">
    <div ng-show="insParams.photoMode === '1'" class="progressBar" layout="row" layout-align="start center">
      <div ng-click="stepDownTo(0)" class="step previewCircle" ng-class="step < 1 ? 'active' : ''" style="background-image: url( {{rapidModePhoto.link || ''}}  );">1</div>
      <span flex=""></span>
      <div ng-click="stepDownTo(1)" class="step">2</div>
      <span flex=""></span>
      <div ng-click="stepDownTo(2)" class="step active">3</div>
      <span flex=""></span>
      <div ng-click="stepDownTo(3)" class="step">&#10004;</div>
    </div>
    <div class="pagePadding">
        <md-card class="flatCard">
            <md-card-content>            
        <div layout="row" layout-align="center start"  class="headBlock" >     
            <div class="md-title">{{question.title ? question.title : 'Untitled Question'}}</div>
        </div>
        <div class="md-caption description">{{question.description ? question.description : '' }}</div>
    
       <form name="questionForm" style="padding-left: 0px;" >
        <div ng-if="question.type === 'checkbox'">
            <div  class="questionIndent" ng-repeat="checkBox in question.values track by $index">
                <div  layout="row">
                <md-checkbox ng-checked="checkBox.checked" ng-click="toggle(checkBox); stepUp($index); ">
                    {{checkBox.key}}
                </md-checkbox>
                </div>
            </div>
            <md-checkbox ng-model="newCheckBoxKey" 
                         ng-click="stepUp('other')">
                Other:
            </md-checkbox>
        </div>
        <div ng-if="question.type === 'radio'">
            <md-radio-group ng-model="question.answer">
                <div ng-repeat="radioButton in question.values track by $index" >
                <md-radio-button 
                                 class="questionIndent" 
                                 ng-value="radioButton.key"
                                 ng-click="toggleRadio(radioButton); stepUp($index)">{{radioButton.key}}
                </md-radio-button>
                </div>
                <md-radio-button class="questionIndent" 
                                 ng-value="otherValue.singleSelect"
                                  ng-click="stepUp('other')">Other
                </md-radio-button>
            </md-radio-group>
        </div>
        <div ng-if="question.type === 'dropdown'">
            <md-select ng-model="question.answer" 
                       placeholder="Choose" 
                       class="md-no-underline"
                       md-on-close="setAnswer(answer); stepUp()"
                       >
                <md-option ng-repeat="selectOption in question.values" ng-value="selectOption.key">{{selectOption.key}}
                </md-option>
            </md-select>
        </div> 
   </form>
        </md-card-content>
    </md-card>
     </div>   
</div>


