<div ng-controller="createController" flex="" layout="column" class="page" id="nav">
   <md-content>
    <div class="centerPage" style="margin-bottom:85px;" id="centerPage">
        <h3 class="md-subhead insTitle">Report Template</h3>
    <md-card>
        <md-input-container style="padding: 0px 16px 8px 16px;">
            <md-select ng-model="castleService.reportTemplate" 
                       placeholder="Pick a Template"
                       md-on-close="setTemplate()">
                <md-option ng-repeat="template in castleService.reportTemplates 
                                      track by $index" ng-value="template"
                                      >
                                      {{template.title}}</md-option>
            </md-select>
        </md-input-container>
    </md-card>
    
<div ng-if="castleService.reportTemplate != null"> 
<div  ng-repeat="section in report.meta track by $index">
    <h3 class="md-subhead insTitle">{{section.title}}</h3>
    <md-card  >
    <md-card-content>
    <div ng-repeat="item in section.items track by $index"  >
        <!--                           PRE-SET TEXT-->
        <div ng-if="item.type == 'presettext'" class="padMe">
            <md-input-container class="md-block">
              <label>{{item.title}}</label>
              <textarea ng-model="item.value" 
                      md-maxlength="5000" 
                      md-select-on-focus></textarea>
            </md-input-container>
        </div>

       
        <!--                           TEXT-->
        <div ng-if="item.type == 'text'"  class="padMe">
            <md-input-container  class="md-block" >
                <label>{{item.title}}</label>
                <input ng-model="item.value" type="text">
            </md-input-container>
        </div>
       
        <!--                           NUMBER-->
        <div ng-if="item.type == 'number'" class="padMe">
            <md-input-container class="md-block" >
                <label>{{item.title}}</label>
                <input ng-model="item.value" type="number" >
            </md-input-container>
        </div>

        <!--                           SELECT-->
        <div ng-if="item.type == 'select'" class="padMe">
            <md-input-container class="md-block">
                <md-select ng-model="item.value" placeholder="Select {{item.title}}">
                    <md-option ng-repeat="radiovalue in item.content track by $index" 
                               ng-value="radiovalue.title">{{radiovalue.title}}</md-option>
                </md-select>
            </md-input-container>
            <form ng-if="castleService.editMode" 
                  ng-submit="addSubQuestion(newstuff); newstuff = '';" 
                  layout="row" 
                  style="margin:5px 0 15px 4px">
                <button type="submit" class="addButton">
                    <md-icon style="color:gray" md-svg-icon="add"></md-icon>
                </button>
                <input required 
                       style="border-width: 0 0 1px 0" 
                       ng-model="newstuff" 
                       type="text" 
                       placeholder="{{itemTypes.types[item.type]}} item">
            </form>
         </div>
         
        <!--                            RADIO-->
        <div ng-if="item.type == 'radio'" id="radParent">
            <h1 class="md-title">{{item.title}}</h1>
            <md-radio-group ng-model="item.value">
               <div ui-sortable="{'ui-floating': false, 'handle': '.handle', 'containment': '#radParent'}"   ng-model="item.content">
                  <div ng-repeat="radiovalue in item.content track by $index" 
                       layout="row" 
                       layout-align="start center"
                       style="background-color:#FFF;">
                     <div class="handle" ng-show="castleService.editMode">
                         <md-icon md-svg-icon="./img/drag.svg" ></md-icon>
                     </div>
                     <md-radio-button ng-value="radiovalue.title" class="">
                        <span>{{radiovalue.title}}</span>
                     </md-radio-button>
                     <span flex=""></span>
                     <md-button ng-show="castleService.editMode" class="md-icon-button" 
                               aria-label="add sub question"
                               ng-click="remove(item.content, $index)" 
                     >
                         <md-icon md-svg-icon="cancel"></md-icon>
                     </md-button>
                  </div>
              </div>
            </md-radio-group>
            <form ng-if="castleService.editMode" 
                  ng-submit="addSubQuestion(newstuff); newstuff = '';" 
                  layout="row" 
                  style="margin:5px 0 15px 4px">
                <button type="submit" class="addButton">
                    <md-icon style="color:gray" md-svg-icon="add"></md-icon>
                </button>
                <input required 
                       style="border-width: 0 0 1px 0" 
                       ng-model="newstuff" 
                       type="text" 
                       placeholder="{{item.type}} item">
            </form>
        </div>
         

        <!--                           CHECKBOX-->
        <div ng-if="item.type == 'checkbox'">
            <h1 class="md-title">{{item.title}}</h1>
            <div ui-sortable="sortableOptions"  ng-model="item.content" >
                <div ng-repeat="checkbox in item.content track by $index"                  
                     class="list_item flex-wrap" 
                     style="background-color:#FFF;" layout="column" layout-align="center stretch">
                     <div layout="column" layout-align="center stretch" >
<!--                     <md-divider ng-show="checkbox.c" style="margin:8px 0 8px 0;"></md-divider>-->
                     <div layout="row" layout-align="start center">
                     
                     <div class="handle" ng-show="castleService.editMode">
                         <md-icon md-svg-icon="./img/drag.svg" ></md-icon>
                     </div>
                     
                    <md-checkbox class="md-secondary checkboxery" ng-model="checkbox.c" aria-label="{{checkbox.title}}"   style="position:relative; display:inline" >{{checkbox.title}}
                    </md-checkbox>
                    <span flex=""></span>
                     <md-button ng-show="castleService.editMode" class="md-icon-button" 
                               aria-label="add sub question"
                               ng-click="remove(item.content, $index)" 
                     >
                            <md-icon md-svg-icon="cancel"></md-icon>
                     </md-button> 
                     </div>
<!--                         <md-divider ng-show="checkbox.c" style="margin-bottom:8px;"></md-divider>-->
                    </div>
                   
                </div>
            </div>
            <form ng-if="castleService.editMode" 
                  ng-submit="addSubQuestion(newstuff); newstuff = '';" 
                  layout="row" 
                  style="margin:5px 0 15px 4px">
                <button type="submit" class="addButton">
                    <md-icon style="color:gray" md-svg-icon="add"></md-icon>
                </button>
                <input required 
                       style="border-width: 0 0 1px 0" 
                       ng-model="newstuff" 
                       type="text" 
                       placeholder="{{item.type}} item">
            </form>
        </div>
       
        <!--                           DATE-->
        <div ng-if="item.type == 'date'" class="padMe md-block" style="padding:8px 0;">
             <md-datepicker ng-model="tempDate" 
                            md-placeholder="{{item.title}}">
             </md-datepicker>
<!--
            <md-input-container class="md-block">
                <label>{{item.title}}</label>
                <input 
                    ng-model="tempDate" 
                    onchange="setItem(item, tempDate)" 
                    type="date" 
                >
                
            </md-input-container>
-->
        </div>
    </div>
    </md-card-content>
    </md-card>
</div>
    <div layout="row" style="padding: 0 0 10px 0;" ng-hide="castleService.assignPhotoMode" class="flex-wrap">
        <md-button  ng-click="showPrerenderedDialog($event)" class="md-raised" aria-label="Schedule Job">Schedule Job</md-button>
<!--        <md-button ui-sref="saved" class="md-raised" aria-label="Schedule Report">Schedule Report</md-button>-->
        <md-button ui-sref="inspection({sectionIndex:'default'})"  
                   class="md-raised md-accent" aria-label="Start Report">Start Report Now!</md-button>
    </div>
   </div>
     </div>
     
<script type="text/ng-template" id="myDialog.html">
        <md-dialog focusOnOpen="false">
            <md-toolbar layout="row" layout-align="center center">
                <h3 class="md-subhead" style="padding:0 25px">Schedule Job</h3>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="cancel" 
                           ng-click="cancelDialog()">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                 <md-datepicker ng-model="tempDate" 
                                md-placeholder="date">
                 </md-datepicker>
                 <br />
                 <md-button class="md-icon-button">
                 <md-icon md-svg-icon="schedule"></md-icon>
                 </md-button>
                 <input type="time" ng-model="" class="nonEditInput"/>
                </div>
            </md-dialog-content>
        </md-dialog>
</script>
   
    </md-content>
    



<!--          </div>-->
</div>

<!--<div class="inspectionDialog">This could be a problem</div>-->