<div ng-controller="createController" flex="" layout="column" class="page" id="nav">
   <section>
    <md-content class="centerPage" style="margin-bottom:85px;">
        <!--        <div class="md-subhead" style="padding-left:8px;">Report Template</div>-->
        <md-card ng-show="selectedSection == 'default' && castleService.assignPhotoMode == false">
            <md-input-container style="padding: 0px 16px 8px 16px;">
                <md-select ng-model="castleService.reportTemplate" placeholder="Pick a Template">
                    <md-option ng-repeat="template in castleService.reportTemplates track by $index" ng-value="template">{{template.title}}</md-option>
                </md-select>
            </md-input-container>
        </md-card>


        <!--                SECTION NAVIGATION   -->
        <div ng-show="selectedSection == 'default' && castleService.reportTemplate != null">

            <md-card layout="column">
                <div ng-repeat="section in report.sections" layout="column">
                    <md-button ui-sref="inspection({sectionIndex$index})" style="padding:8px 14px; margin:0; text-align:left; border-radius:0; text-transform:none" class="md-no-style" aria-label="{{section.title}}">
                        <span layout="row" layout-align="start center">
                        <span>{{section.title}}</span>
                        <span flex=""></span>
                        </span>
                    </md-button>
                    <md-divider></md-divider>
                </div>
            </md-card>
            <div layout="row" style="padding: 0 0 10px 0;" ng-hide="castleService.assignPhotoMode" class="flex-wrap">
                <md-button ng-click="checkRequired()" class="md-raised" 
                    aria-label="Preview Report">Preview Report</md-button>
                <md-button ng-click="" class="md-raised" 
                    aria-label="Save Report">Save Report</md-button>
                <md-button ng-click="castleService.reportTemplate = null" 
                    class="md-raised md-primary" aria-label="Reset Template">Reset Template</md-button>

                    <!--
       <md-input-container>
            <md-select ng-model="reportView" placeholder="">
                <md-option ng-repeat="reportType in ['full report','abbreviated report']" ng-value="reportType">{{reportType}}</md-option>
            </md-select>
        </md-input-container>
-->
                    </div>
            </div>

<!--           PAGES-->
<!--<md-card ng-if="selectedSection != 'default'" style="margin-bottom:85px;">-->
<md-tabs md-dynamic-height md-swipe-content md-enable-disconnect>
<md-tab ng-if="selectedSection != 'default'" ng-repeat="page in report.sections[selectedSection].pages" class="md-whiteframe-z1 subPageStyle" md-on-select="changeSelection($index, page.title)">

<md-tab-label>{{page.title}}</md-tab-label>
<md-tab-body>

    <div ng-repeat="item in page.items">
       <md-card>
        <!--  <md-divider ng-if="item.showvalue"></md-divider>-->
        <div style="padding:0px 16px 0px 16px">
            <div layout="row" layout-align="start center">

                <h3 class="md-subhead" ng-click="toggleItem(item)">{{item.title}}</h3>
                <span flex=""></span>
                <!--
<md-button ng-click="toggleItem(item)" class="md-icon-button" aria-label="expand item">
<md-icon md-svg-icon="{{((item.showvalue == true) ? 'expand_more' : 'chevron_right')}}" ></md-icon>
</md-button>
-->
                <md-button ng-click="item.answered = !item.answered" aria-label="is answered" class="md-icon-button" style="">
                    <md-icon md-svg-icon="{{getAnsweredIcon(item.answered)}}"></md-icon>
                </md-button>
            </div>

            <div>
                <!--                       CLIENT INFO-->
                <div ng-if="item.type == 'clientinfo' && (item.required == true || castleService.hideShowOptions.showNonRequired)">
                    <div ng-if="item.showvalue">
                        <div layout="row" layout-sm="column">
                            <div layout="" layout-sm="column">
                                <md-input-container flex="">
                                    <label>First name</label>
                                    <input ng-model="item.value.firstName">
                                </md-input-container>
                                <md-input-container flex="">
                                    <label>Last Name</label>
                                    <input ng-model="item.value.lastName">
                                </md-input-container>
                            </div>
                        </div>
                        <md-input-container flex="">
                            <label>Address</label>
                            <input ng-model="item.value.address">
                        </md-input-container>

                        <md-input-container md-no-float="">
                            <label>Address Line 2</label>
                            <input ng-model="item.value.addressTwo">
                        </md-input-container>

                        <div layout="" layout-sm="column">
                            <md-input-container flex="">
                                <label>City</label>
                                <input ng-model="item.value.city">
                            </md-input-container>
                            <md-input-container flex="">
                                <label>State</label>
                                <input ng-model="item.value.state">
                            </md-input-container>
                            <md-input-container flex="">
                                <label>Postal Code</label>
                                <input ng-model="item.value.postalCode">
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div layout="column" layout-fill="" layout-align="top left">

                    <!--                           PRE-SET TEXT-->
                    <div ng-if="item.type == 'presettext'  && (item.required == true || castleService.hideShowOptions.showNonRequired)">
                        <div class="relFlex" ng-if="item.showvalue" layout="column">
                            <md-switch ng-model="item.showcontent" aria-label="Show item.title" class="firstPosition md-body-1">Show {{item.title}} Message </md-switch>
                            <md-card>
                                <md-card-content>{{item.content}}</md-card-content>
                            </md-card>

                        </div>
                    </div>

                    <!--                           CHECKBOX-->
                    <div ng-if="item.type == 'checkbox'  && (item.required == true || castleService.hideShowOptions.showNonRequired)">
                        <div layout="column">
                            <div ng-repeat="checkbox in item.content track by $index" layout="row" layout-align="end center" class="list_item flex-wrap" style="position:relative" ng-if="item.showvalue">
                                <span md-ink-ripple class="md-body-1" style="margin:0; color:#000" aria-label="checkbox">
                                    <md-checkbox md-no-ink class="md-secondary checkboxery" ng-model="checkbox.c" aria-label="{{checkbox.title}}"   style="position:relative; display:inline" >{{checkbox.title}}
                                    </md-checkbox>
                                </span>
                                <div flex=""></div>
                                <div layout="row" layout-align="end center" ng-show="checkbox.c" class="flex-wrap">
                                    <md-button ng-show="!castleService.assignPhotoMode" class="md-icon-button" 
                                       ng-click="showRapidRemarksDialog($event, $parent.$parent.$index, $index)" aria-label="add rapid remark">
                                        <md-icon md-svg-icon="{{(checkbox.rrTitle == null) ? 'rrAdd' : 'rrEdit'}}" 
                                                 ng-class="(checkbox.rrTitle == null) ? '' : 'md-accent'"></md-icon>
                                    </md-button>
                                    <md-menu style="text-align:center; padding:0;">
                                        <md-button class="md-icon-button" aria-label="view images" ng-click="$mdOpenMenu()" 
                                           ng-show="checkbox.c">
                                            <md-icon md-svg-icon="image" ng-class="(checkbox.i != '' && checkbox.i != null) ? 'md-accent' : ''"></md-icon>
                                        </md-button>
                                        <md-menu-content>
                                            <md-content style="max-height:480px;  overflow-y:scroll;">
                                                <md-card ng-repeat="checkboxImage in checkbox.i track by $index" 
                                                   style="position:relative;" layout="column" layout-align="center end">
                                                    <md-button ng-click="removeIMG(checkbox.i, $index)" class="md-icon-button cancelIMG">
                                                        <md-icon md-svg-icon="clear" aria-label="rapid remarks"></md-icon>
                                                    </md-button>
                                                    <div class="UpPicture" style="background-image: url('{{checkboxImage}}')" />
                                                </md-card>
                                            </md-content>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-button ng-show="checkbox.c && !castleService.assignPhotoMode" 
                                       class="md-icon-button" ng-click="initCameraAction(checkbox, true, true)" aria-label="capture photo">
                                        <md-icon md-svg-icon="camera" class=""></md-icon>
                                    </md-button>
                                    <md-button ng-show="checkbox.c && castleService.assignPhotoMode && (checkbox.a == null || !checkbox.a)" 
                                       class="" ng-click="assignPhotos(checkbox, 'assign')" aria-label="assign photo">
                                        Assign
                                    </md-button>
                                    <md-button ng-show="checkbox.c && castleService.assignPhotoMode && checkbox.a" 
                                       class="" ng-click="assignPhotos(checkbox, 'accept')" aria-label="accept assigned photo">
                                        Accept
                                    </md-button>
                                    <md-button ng-show="checkbox.c && castleService.assignPhotoMode && checkbox.a" 
                                       class="" ng-click="assignPhotos(checkbox, 'cancel')" aria-label="cancel assigned photo">
                                        Cancel
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                            RADIO-->
                    <div ng-if="item.type == 'radio'  && (item.required == true || castleService.hideShowOptions.showNonRequired)">
                        <md-radio-group ng-model="item.value" ng-if="item.showvalue">
                            <md-radio-button ng-repeat="radiovalue in item.content track by $index" ng-value="radiovalue" class="radioHeight"><span>{{radiovalue.title}}</span></md-radio-button>
                        </md-radio-group>
                    </div>

                    <!--                           NUMBER-->
                    <div ng-if="item.type == 'number'  && (item.required == true || castleService.hideShowOptions.showNonRequired)">
                        <md-input-container layout="row" ng-if="item.showvalue">
                            <label>{{item.label}}</label>
                            <input ng-model="item.value" type="number" flex="50" flex-sm="">
                        </md-input-container>
                    </div>

                    <!--                           TEXT-->
                    <div ng-if="item.type == 'text'  && (item.required == true || castleService.hideShowOptions.showNonRequired)">
                        <md-input-container ng-if="item.showvalue">
                            <label>{{item.label}}</label>
                            <input ng-model="item.value" type="text">
                        </md-input-container>
                    </div>

                    <!--                           SELECT-->
                    <div ng-if="item.type == 'select'  && (item.required == true || castleService.hideShowOptions.showNonRequired)">
                        <md-input-container ng-if="item.showvalue">
                            <md-select ng-model="item.value" placeholder="Select {{item.title}}">
                                <md-option ng-repeat="radiovalue in item.content track by $index" ng-value="radiovalue.title">{{radiovalue.title}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <!--                           DATE-->
                    <div ng-if="item.type == 'date'  && (item.required == true || castleService.hideShowOptions.showNonRequired)">
                        <md-input-container layout="row" ng-if="item.showvalue">
                            <label>{{item.label}}</label>
                            <input ng-model="tempDate" onchange="setItem(item, tempDate)" type="date" flex-gt-sm="50" flex-sm="">
                        </md-input-container>
                    </div>

                    <!--                           APPENDIX PHOTO-->
                    <div ng-if="item.type == 'photoAppendix'  && (item.required == true || castleService.hideShowOptions.showNonRequired)">
                        <div layout="row" ng-init="selectImage = false" class="flex-wrap">
                            <md-button class="md-raised" aria-label="Add Photos" ng-click="capturePhoto(1, item.content, true, true)">
                                <md-icon md-svg-icon="camera"></md-icon> Add Photo
                            </md-button>
                            <md-button ng-show="castleService.assignPhotoMode != true" ng-click="selectImage = !selectImage" class="md-raised" aria-label="Select Image">
                                <md-icon md-svg-icon="crop_free"></md-icon> Select
                            </md-button>
                            <div ng-if="castleService.selectedImages.length > 0 && selectImage">
                                <md-button class="md-raised" ng-click="enterAssignPhotosMode()" aria-label="Assign to Item">
                                    <md-icon md-svg-icon="add_to_photos"></md-icon> Assign
                                </md-button>
                                <md-button class="md-raised" ng-click="clearSelection()" aria-label="Clear selection">
                                    <md-icon md-svg-icon="clear"></md-icon> Clear
                                </md-button>
                                <md-button class="md-raised" ng-click="deletePhotos()" aria-label="Delete Photos">
                                    <md-icon md-svg-icon="delete"></md-icon> Delete
                                </md-button>
                            </div>
                        </div>
                        <div layout="row" class="flex-wrap" style="display:flex; flex-wrap:wrap;">
                            <div ng-repeat="pageImage in item.content track by $index">

                                <div class="UpPicture" style="background-image: url('{{pageImage}}')">
                                    <div layout="row" ng-show="selectImage">
                                        <span flex=""></span>
                                        <md-checkbox class="md-secondary" aria-label="select image" ng-checked="isInArray($index, castleService.selectedImages)" ng-click="addToSelectedImages($index)"></md-checkbox>
                                    </div>
                                    <div class="md-caption pictureBox"></div>
                                    <div class="centerTextVertical"><span class="md-caption imageTitle">{{item.title}}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </md-card>
<!--        <md-divider ng-if="!$last"></md-divider>-->
    </div>



                        </md-tab-body>
                    </md-tab>
                </md-tabs>
<!--            </md-card>-->
            <!-- <div class="footerSpace"></div>-->
        </md-content>
</section>


    <div class="mainButtonMenu" ng-if="selectedSection != 'default'">
<!--
        
        <div class="fab_add_expand" ng-show="show_add_icons">
            <a ng-click="showItemDialog($event)" layout="row" layout-align="end center" >
                <div >Item</div>
                <md-button class="md-fab md-hue-1 md-raised md-mini"  aria-label="Add Item">
                    <md-icon md-svg-icon="add"></md-icon>
                </md-button>
            </a>
            <a ng-click="showPageDialog($event)" layout="row" layout-align="end center" >
                <div >Page</div>
                <md-button class="md-fab md-hue-2 md-raised md-mini" aria-label="Add Page">
                    <md-icon md-svg-icon="add"></md-icon>
                </md-button>
            </a>
            <a ng-click="editRapidRemarks($event)" layout="row" layout-align="end center">
                <div>Remark</div>
                <md-button class="md-fab md-hue-3 md-raised md-mini" aria-label="Add Remark">
                    <md-icon md-svg-icon="add"></md-icon>
                </md-button>
            </a>
            <a ng-click="capturePhoto(1, unassignedImages, true, true)" layout="row" layout-align="end center">
                <div>Image</div>
                <md-button class="md-fab md-hue-3 md-raised md-mini" aria-label="Add Section">
                    <md-icon md-svg-icon="camera"></md-icon>
                </md-button>
            </a>
        </div>
        <md-button class="md-fab md-primary"  style="margin-right:27px;"  ng-click="toggleAdd()" aria-label="stuff">
            <md-icon md-svg-icon="add"  ng-class="{'mainButton' : show_add_icons, 'mainButtonReverse' : !show_add_icons}"></md-icon>
        </md-button>
-->
        <md-menu md-position-mode="target-right target">
            <md-button class="md-fab md-primary" style="margin-right:27px;" ng-click="$mdOpenMenu($event)" aria-label="stuff">
                <md-icon md-svg-icon="add" md-menu-origin ng-class="{'mainButton' : show_add_icons, 'mainButtonReverse' : !show_add_icons}"></md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ng-click="showItemDialog($event)" layout="row" layout-align="start center">
                        <md-icon md-svg-icon="add"></md-icon>
                        <span>Item</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="showPageDialog($event)" layout="row" layout-align="start center">
                        <md-icon md-svg-icon="add"></md-icon>
                        <span>Page</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="editRapidRemarks($event)" layout="row" layout-align="start center">
                        <md-icon md-svg-icon="add"></md-icon>
                        <span>Remark</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="capturePhoto(1, unassignedImages, true, true)" layout="row" layout-align="start center">
                        <md-icon md-svg-icon="camera"></md-icon>
                        <span>Image</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        

    </div>

</div>

<!--<div class="inspectionDialog">This could be a problem</div>-->