<div ng-controller="generateController" flex="" layout="row" class="page" id="nav">
    <section layout="column" style="position:relative;  overflow-x:hidden; max-width:950px; margin:0 auto;" id="render_me" >
       <md-content id="testAgain" style="padding:15px; overflow-x:hidden;" >
         <h1 class="md-display-3" style="text-align:center">
             Inspection Report
         </h1>
         <div class="md-body-2" style="text-align:center;">
             <div>For the property at:</div>
             <div class="md-headline">
                {{clientInfo.value.address}},
                {{clientInfo.value.city}},
                {{clientInfo.value.state}}
                {{clientInfo.value.postalCode}}
             </div>
             <div>Prepared for: {{clientInfo.value.firstName}} {{clientInfo.value.lastName}}</div>
             <div>Inspection Date: {{reportDate.value | date}}</div>
             <div>Prepared by: {{castleService.io.user.username}}</div>
<!--             <img src="" />-->
             <br/>
             <p>"A great investment deserves a great investigation"</p>
         </div>

         <div ng-repeat="section in report.sections track by $index" ng-if="section.title != 'Field Notes'" style="position:relative">
             <div layout="row" layout="start center">
                 <h1 class="md-display-2">{{section.title}}</h1>
                 <span flex=""></span>
                <div  style="background-color:{{section.color}}; height:70px; width:15px; position:absolute; right:-22px; top:15px"></div>
             </div>
             
            <div ng-repeat="page in section.pages track by $index" class="subPageStyle" >
                <div style="position:relative; " >
                    <h1>
                       <div layout="row" layout-align="space-between end">
                            <div class="md-display-1">
<!--                                <span style="color:{{section.color}}">{{section.title}}</span><md-icon md-svg-icon="chevron_right" class="headNavIcon"></md-icon>-->
                                {{page.title}}
                            </div>
                            <div class="md-caption" style="min-width:125px; text-align:right">Report ID: {{reportId.value}}</div>
                        </div>
                        <div layout="row" layout-align="space-between end" class="md-caption">
                            <div>
                                {{clientInfo.value.address}},
                                {{clientInfo.value.city}},
                                {{clientInfo.value.state}}
                                {{clientInfo.value.postalCode}}
                            </div>
                            <div>{{reportDate.value | date}}</div>
                        </div>
                    </h1>

                    <div ng-repeat="item in page.items track by $index">
                        <div layout="column" layout-fill="" layout-align="top left">

                            <!--                           PRE-SET TEXT-->
                            <div ng-if="item.type == 'presettext' && item.showcontent">
                                <h2 class="md-headline">Inspection {{item.title}}</h2>
                                <md-divider></md-divider>
                                <p class="md-body-1">{{item.content}}</p>
                            </div>


                            <!--                           CHECKBOX-->
                            <div ng-if="item.type == 'checkbox'">
                                <h3 class="md-headline">{{item.title}}:</h3>
                                <div class="lMarg">
                                <div class="flex flex-wrap" style="display:flex; flex-wrap:wrap;">
                                   <div ng-repeat="checkbox in item.content track by $index" flex="50">
                                        <md-checkbox class="md-secondary checkboxery" ng-model="checkbox.c" md-no-ink style="position:relative; display:inline">{{checkbox.title}}
                                        </md-checkbox>
                                    </div>
                                </div>
                                 <br />
                                 <div ng-init="checkboxImages = getAllItemImages(item.content)" class="flex-wrap" style="display:flex; flex-wrap:wrap;" >
                                   <div ng-repeat="imageItem in checkboxImages track by $index" flex="50">
                                     <div class="UpPicture" style="background-image: url('{{imageItem.i}}')" >
                                        <div class="md-caption pictureBox"></div>
                                        <div class="centerTextVertical">
                                            <span class="md-caption imageTitle">{{item.title}}: {{imageItem.title}}</span>
                                        </div>
                                     </div>
                                   </div>
                                </div>
                                </div>
                            </div>

                            <!--                           NUMBER-->
                            <div ng-if="item.type == 'number'">
                                <h3 class="md-headline">{{item.title}}:</h3>
                                <p class="md-body-1">{{item.value}}</p>
                            </div>

                            <!--                           RADIO-->
                            <div ng-if="item.type == 'radio'">
                                <h3 class="md-headline" >{{item.title}}:</h3>
                                <div>
                                    {{item.value}}
                                </div>
                            </div>

                            <!--                           SELECT-->
                            <div ng-if="item.type == 'select'" >
                                <h3 class="md-headline" >{{item.title}}:</h3>
                                <div>
                                    {{item.value}}
                                </div>
                            </div>

                            <!--                            PHOTO APPENDIX-->
                            <div ng-if="item.type == 'photoAppendix'" >
                                <div layout="row" class="flex-wrap" style="display:flex; flex-wrap:wrap;">
                                    <div ng-repeat="pageImage in item.content track by $index" >
                                        <div class="UpPicture" style="background-image: url('{{pageImage}}')" >
                                            <div class="md-caption pictureBox"></div>
                                            <div class="centerTextVertical"><span class="md-caption imageTitle">{{item.title}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
           <div style="position:relative" >
               <h2 class="md-display-2" style="text-align:center">Summary</h2>
               <div ng-repeat="remarkSection in rapidRemarks track by $index" >
                  <div ng-if="remarkSection.showValue">
                       <h2 class="md-headline">{{remarkSection.title}}</h2>
                       <div ng-repeat="remark in remarkSection.content | filter:{showValue:true} track by $index">
                            <h3> {{remark.title}}</h3>
                            <p>{{remark.value}}</p>
                       </div>
                   </div>
               </div>
           </div>
        </md-content>
    </section>
</div>





