<div ng-controller="inspectionController" flex="" layout="column" class="page">
    <md-toolbar class="shady" 
                ng-style="{'background-color':castleService.currentPage.color}"
                ng-show="!showMainNav">
         <div class="md-toolbar-tools">
         <md-button class="md-icon-button" 
                    aria-label="Navigation" 
                    ng-click="menuNavigation()">
             <md-icon md-svg-icon="{{castleService.currentPage.icon}}" ></md-icon>
         </md-button>
         <h2 class="page_header">
           <span>{{castleService.currentPage.title}}</span>
         </h2>
         <span flex></span>
         <md-button ng-show="castleService.assignPhotoMode" 
                    ng-click="castleService.cancelAssignPhotoMode()" 
                    class="md-icon-button" aria-label="cancel assign photo">
                <md-icon md-svg-icon="close"></md-icon>
         </md-button>
         <md-button ng-show="castleService.currentPage.showEditMode"
                      aria-label="toggle edit mode" 
                      class="md-icon-button"
                      ng-click="toggleEditMode()">
                      <md-icon md-svg-icon="mode_edit"></md-icon>
         </md-button>
        </div>
    </md-toolbar>
   <md-content class="centerScroll">
    <div class="centerPage" style="margin-bottom:85px;" id="centerPage">
    <div layout="row" layout-align="space-between center">
        <h2 class="md-subhead insTitle" 
            style="margin-bottom:0px;">Sections &amp; Subsections</h2>
    </div>
              
    <md-card id="secParent" 
             layout="column"  
             ui-sortable="{'ui-floating': false, 'handle': '.handle', 
                           'containment': '#secParent'}"  
             ng-model="report.sections">
        <div ng-repeat="section in report.sections track by $index" 
             layout="column" 
             layout-align="center stretch" 
             style="text-align-left;"
             ng-init="clicked = false" >             
               <div  style="padding:0px 0px 0px 16px; margin:0;
                         vertical-align:middle; border-radius:0; 
                         text-transform:none; background-color:#FFF;  height:52px;" 
                       class="md-no-style" 
                       aria-label="{{section.title}}"
                       layout="row" 
                       layout-align="start center"
                       ng-click="toggleAccordianIndex($index)"
                       ng-show="!castleService.editMode">
                    <input type="text" 
                           ng-disabled="true" 
                           ng-model="section.title" 
                           style="background-color:inherit;"
                           class="editInput nonEditInput"
                           ng-class="castleService.editMode ? 'inputBorder' : 'nonEditInput'" />
                    <span flex=""></span>
                    <md-icon md-svg-icon="check" 
                             ng-show="isSectionComplete(section)"
                             class="md-primary" style="min-width:24px;"></md-icon>
                    <md-button
                       aria-label="toggle pages menu"
                       class="md-icon-button">
                        <md-icon md-svg-icon="{{matchesAccordianIndex($index) ? 'keyboard_arrow_up' : 
                                              'keyboard_arrow_down'}}"></md-icon>
                    </md-button>
              </div>
               <div    style="padding:0px 0px 0px 8px; margin:0;
                              vertical-align:middle; border-radius:0; 
                              text-transform:none; background-color:white; height:52px;" 
                       class="md-no-style" 
                       aria-label="{{section.title}}"
                       layout="row" 
                       layout-align="start center"
                       ng-show="castleService.editMode">
                 <div  class="handle" style="margin-right:6px;">
                     <md-icon md-svg-icon="./img/drag.svg" ></md-icon>
                 </div>
                 <input type="text" 
                        ng-disabled="false" 
                        ng-model="section.title" 
                        style="background-color:white;"
                        class="editInput nonEditInput"
                        id="{{'sectionId' + $index}}"
                        placeholder="section title"
                        ng-class="castleService.editMode ? 'inputBorder' : 'nonEditInput'" />
                 <span flex=""></span>
                 <md-button
                    aria-label="toggle pages menu"
                    ng-click="toggleAccordianIndex($index)"
                    class="md-icon-button">
                    <md-icon md-svg-icon="{{matchesAccordianIndex($index) ? 'keyboard_arrow_up' : 
                                         'keyboard_arrow_down'}}"></md-icon>
                 </md-button>
                 <md-button ng-show="castleService.editMode" 
                            ng-click="remove(report.sections, $index)" 
                            aria-label="delete section"
                            class="md-icon-button"
                            style="min-width:40px;" 
                            ng-disabled="sectionHasRequired(section)">
                   <md-icon md-svg-icon="cancel"></md-icon>
                 </md-button>
              </div>
              <div ng-if="matchesAccordianIndex($index)" 
                   id="subsecParent" 
                   ui-sortable="{'ui-floating': false, 'handle': '.subhandle', 'containment': '#secParent'}"  
                   ng-model="section.pages"
                   >
                    <div ng-repeat="page in section.pages  track by $index" 
                         layout="column" 
                         layout-align="center stretch" 
                         class="sortdivider"
                         style="height:40px;">
<!--                      <md-divider></md-divider>-->
                      <div layout="row" layout-align="start center">              
                           <span style="margin-left:28px;" ng-show="castleService.editMode">
                               <span  class="subhandle" style="text-align:right;" >
                                  <md-icon   md-svg-icon="./img/drag.svg" style="width:30px;"></md-icon>
                               </span>
                           </span>
                           <span ng-show="castleService.editMode" style="padding-left:8px;">
                               <input type="text" 
                               ng-model="page.title" 
                               class="inputBorder subsection" 
                               placeholder="section title"
                               id="{{'subSectionId' + $index}}"
                               />
<!--                               style="border-color:#DDD"-->
                           </span>
                               
                            <md-button ui-sref="page({'sectionIndex':$parent.$index, 'pageIndex':$index})" 
                                       class="theButton subsection"
                                       aria-label="navigate to page"> 
                                      <span flex="">
                                          <span ng-if="!castleService.editMode" 
                                                style="padding:0px 0px 0px 28px;">{{page.title}}</span>
                                      </span>
                            </md-button>
                            <span style="padding:0 4px; min-width:40px;">
                                  {{page.answeredCount}}/{{page.items.length}}</span>
                            <md-button ng-show="castleService.editMode" 
                                       class="md-icon-button"
                                       style="min-width:40px;" 
                                       ng-init="clicked = false" 
                                       aria-label="toggle pages menu"
                                       ng-click="remove(section.pages, $index)"
                                       ng-disabled="pageHasRequired(page)">
                                <md-icon md-svg-icon="cancel" ></md-icon>
                            </md-button>
                       </div>
                       
                    </div>
                        <md-button ng-show="castleService.editMode"
                            class="md-raised md-accent"
                            style="margin-left:28px;"
                            aria-label="Add Subsection"
                            ng-click="addNewSubSection(section.pages)">
                            <span>add subsection</span>
                        </md-button>
              </div>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-card>
    
<!--
    <md-card layout="row" layout-align="start center" class="navCard" style="margin-top:16px;"> 
        <span>Photo Library</span>
        <span flex=""></span>
        <md-button class="md-icon-button">
            <md-icon md-svg-icon="keyboard_arrow_right"></md-icon>
        </md-button>
    </md-card>   
-->
        <md-button ng-show="castleService.editMode"
                   class="md-raised md-accent"
                   aria-label="Add new Section"
                   ng-click="addNewSection(report.sections)">
            <span>add section</span>
        </md-button>
        <div layout="row" style="padding: 0 0 10px 0;" 
             ng-hide="castleService.assignPhotoMode" 
             class="flex-wrap">
            <md-button class="md-raised"
                       aria-label="Unassigned Photos"
                       ui-sref="photoAppendix">
<!--                       <md-icon md-svg-icon="collections" style="color:#000" ></md-icon>-->
                <span>Photo Appendix</span>
            </md-button>
            <md-button ng-click="checkRequired()" 
                       class="md-raised" 
                       aria-label="Preview Report">Preview Report</md-button>
            <md-button ng-click="saveReport()" class="md-raised" 
                       aria-label="Save Report">Save Report</md-button>
            <md-button ng-click="saveAsTemplate()" class="md-raised" 
                   aria-label="Save Template">Save As Template</md-button>
        </div>
    </div>
    </md-content>
    <div class="mainButtonMenu">
            <md-button class="md-fab md-primary" 
                       style="margin-right:27px;" 
                       aria-label="capture photo"
                       ng-click="capturePhoto(1, unassignedImages, true, true)">
                <md-icon md-svg-icon="camera" ></md-icon>
            </md-button>
    </div>  
</div>

<!--<div class="inspectionDialog">This could be a problem</div>-->