<div ng-controller="inspectionController" flex="" layout="column" class="page" id="nav">
   <section>
    <md-content class="centerPage" style="margin-bottom:85px;" id="centerPage">
        <h3 class="md-subhead insTitle" >Template</h3>
        <md-card ng-show="selectedSection == 'default' && castleService.assignPhotoMode == false">
            <md-input-container style="padding: 0px 16px 8px 16px;">
                <md-select ng-model="castleService.reportTemplate" placeholder="Pick a Template">
                    <md-option ng-repeat="template in castleService.reportTemplates track by $index" ng-value="template">{{template.title}}</md-option>
                </md-select>
            </md-input-container>
        </md-card>

        <div ng-show="castleService.reportTemplate != null">
            <div layout="row" layout-align="space-between center">
            <h3 class="md-subhead insTitle" >Sections &amp; Subsections</h3>
                <md-menu>
                <md-button class="md-icon-button" aria-label="section menu" ng-click="$mdOpenMenu($event)">
                    <md-icon md-svg-icon="more_vert"></md-icon>
                </md-button>
                 <md-menu-content>
                   <md-menu-item>
                     <md-button ng-click="toggleEditMode()" aria-label="Toggle Edit Mode">
                       <md-icon md-menu-align-target md-svg-icon="mode_edit"></md-icon>
                       {{castleService.editMode ? 'Exit' : 'Enter'}} Edit Mode
                     </md-button>
                   </md-menu-item>
                 </md-menu-content>
                </md-menu>
            </div>
            
            
    <md-card id="secParent" layout="column"  ui-sortable="{'ui-floating': false, 'handle': '.handle', 'containment': '#secParent'}"  ng-model="report.sections">
        <div ng-repeat="section in report.sections track by $index" 
             layout="column" 
             layout-align="center left" 
             style="text-align-left">
              <div  style="padding:0px 0px 0px 16px; margin:0;
                         vertical-align:middle; border-radius:0; 
                         text-transform:none; background-color:white;  height:52px;" 
               class="md-no-style" 
               aria-label="{{section.title}}"
               layout="row" 
               layout-align="left center">
                <div ng-show="castleService.editMode" class="handle" style="margin-right:6px;">
                  <md-icon md-svg-icon="./img/drag.svg" ></md-icon>
                </div>
                <input type="text" 
                       ng-disabled="!castleService.castleService.editMode" 
                       ng-model="section.title" 
                       style="background-color:white;"
                       ng-class="'noBorder'" />

                <span flex=""></span>
                <md-button class="md-icon-button" 
                   ng-init="clicked = false" 
                   ng-click="clicked = !clicked" 
                   aria-label="toggle pages menu"
                   >
                    <md-icon md-svg-icon="{{clicked == false ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}"></md-icon>
                </md-button>
                <md-menu style="" ng-show="castleService.editMode">
                    <md-button class="md-icon-button" aria-label="section menu" ng-click="$mdOpenMenu($event)">
                        <md-icon  md-svg-icon="more_vert"></md-icon>
                    </md-button>
                     <md-menu-content>
                       <md-menu-item>
                         <md-button ng-click="addSubsection(section.pages, 0);" 
                                    aria-label="Enter Edit Mode">
                           <md-icon md-svg-icon="add"></md-icon>
                           Add Subsection
                         </md-button>
                         </md-menu-item>
                          <md-menu-item>
                        <md-button ng-click="addSection(report.sections, $index)" 
                                   aria-label="Enter Edit Mode">
                           <md-icon md-svg-icon="add"></md-icon>
                           Add Section
                         </md-button>
                         </md-menu-item>
                         <md-menu-item>
                         <md-button ng-click="remove(report.sections, $index)" aria-label="Enter Edit Mode">
                           <md-icon md-svg-icon="cancel"></md-icon>
                           Delete Section
                         </md-button>
                          </md-menu-item>
                     </md-menu-content>
                </md-menu>
              </div>
              <div ng-if="clicked" id="subsecParent" ui-sortable="{'ui-floating': false, 'handle': '.subhandle', 'containment': '#secParent'}"  ng-model="section.pages">
                    <div ng-repeat="page in section.pages  track by $index" layout="column" layout-align="center stretch" class="sortdivider">
                      <md-divider></md-divider>
                      <div layout="row" layout-align="start center" style="background-color:#ECEFF1;">              
                           <span class="subhandle" style="text-align:right; padding:8px 0 8px 28px;">
                              <md-icon ng-show="castleService.editMode"  md-svg-icon="./img/drag.svg" style="width:30px;"></md-icon>
                           </span>
                           <span ng-if="castleService.editMode" style="padding-left:8px;">
                               <input type="text" 
                               ng-model="page.title" 
                               style="border:none; background-color:#ECEFF1"/>
                           </span>
                               
                           <md-button  ui-sref="page({'sectionIndex':$parent.$index, 'pageIndex':$index})" 
                                       style="padding:2px 0px 2px 8px; margin:0; text-align:left; 
                                              vertical-align:middle; border-radius:0; text-transform:none; width:100%"
                                       aria-label="navigate to page"> 
                                      <span flex=""><span ng-if="!castleService.editMode" >{{page.title}}</span></span>
                            </md-button>

                            <md-button ng-show="castleService.editMode" class="md-icon-button" 
                                       ng-init="clicked = false" 
                                       aria-label="toggle pages menu"
                                       ng-click="remove(section.pages, $index)" 
                            >
                                <md-icon md-svg-icon="cancel"></md-icon>
                            </md-button>
                       </div>
                    </div>
              </div>

<!--
            <div>
            {{section.title}}
            </div>
            <span flex=""></span>
            <md-icon md-svg-icon="keyboard_arrow_right"></md-icon>
-->

            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-card>
            <div layout="row" style="padding: 0 0 10px 0;" ng-hide="castleService.assignPhotoMode" class="flex-wrap">
                <md-button ng-click="checkRequired()" class="md-raised" aria-label="Preview Report">Preview Report</md-button>
                <md-button ng-click="" class="md-raised" aria-label="Save Report">Save Report</md-button>
                <md-button ng-click="castleService.reportTemplate = null" class="md-raised md-primary" aria-label="Reset Template">Reset Template</md-button>
            </div>
        </div>
        
    </md-content>
    </section>
</div>

<!--<div class="inspectionDialog">This could be a problem</div>-->