<!--<script type="text/ng-template" id="itemDialog.html">-->
        <md-dialog>
            <md-toolbar layout="row" layout-align="center center">
                <h3 class="md-subhead" style="padding:0 25px">Add Item</h3>
                <span flex></span>
                <md-button aria-label="cancel" class="md-icon-button" ng-click="cancelDialog()">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </md-toolbar>
            <md-dialog-content focusOnOpen="false">
                <div class="md-dialog-content">
                    <input ng-hide="true" type="text" autofocus />
                    <md-input-container style="width:150px;">
                        <label>Select Item Type</label>
                        <md-select ng-model="newItem.type" value="typevalue" md-on-close="resetNewItemValueContents()">
                            <md-option ng-repeat="(typekey, typevalue) in itemTypes.types">{{typekey}}</md-option>
                        </md-select>
                    </md-input-container>


                    <input ng-if="newItem.type != ''" ng-model="newItem.title" required 
                        class="md-subhead" style="width:300px; border:none;" type="text" placeholder="Item Title">


                    <div ng-if="newItem.type == 'radio' || newItem.type == 'select' || newItem.type == 'checkbox'">

                        <!--RADIO-->
                        <div ng-if="newItem.type == 'radio'">
                            <md-radio-group ng-model="newItem.value">
                                <div layout="row" ng-repeat="radval in newItem.content track by $index">
                                    <md-radio-button ng-value="radval.value" class="radioHeight">
                                        <span>{{radval.title}}</span>
                                    </md-radio-button>
                                    <span flex=""></span>
                                    <md-icon ng-click="removeItem(radval, newItem.type)" md-svg-icon="cancel"></md-icon>
                                </div>
                            </md-radio-group>
                        </div>

                        <!--SELECT-->
                        <div ng-if="newItem.type == 'select'">
                            <md-input-container>
                                <md-select ng-model="newItem.value" aria-label="add select item">
                                    <md-option ng-repeat="selval in newItem.content track by $index" 
                                        ng-value="selval.title">{{selval.title}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                        <!--CHECKBOX-->
                        <div ng-if="newItem.type == 'checkbox'">
                            <div ng-if="newItem.type == 'checkbox'">
                                <div layout="row" layout-align="space-between center" 
                                   ng-repeat="checkbval in newItem.content track by $index">
                                    <md-checkbox class="md-secondary checkboxery" ng-model="checkbval.c"> {{checkbval.title}}
                                    </md-checkbox>
                                    <span flex=""></span>
                                    <md-icon ng-click="removeItem(checkbval)" md-svg-icon="cancel"></md-icon>
                                </div>
                            </div>
                        </div>

                        <form ng-submit="addNewItem(newItem.type, newstuff); newstuff ='' ">
                            <div layout="row" style="margin-top:10px">
                                <button type="submit" class="addButton">
                                    <md-icon style="color:gray" md-svg-icon="add"></md-icon>
                                </button>
                                <input required style="border-width: 0 0 1px 0" ng-model="newstuff" 
                                    type="text" placeholder="{{newItem.type}} item">
                            </div>
                        </form>

                    </div>

                    <!--               NUMBER DATE AND TEXT-->
                    <div ng-if="newItem.type == 'number' || newItem.type == 'date'
         || newItem.type == 'text'">
                        <md-input-container>
                            <label>New {{newItem.type}}</label>
                            <input ng-model="newItem.value" class="md-subhead" style="width:300px;" 
                                type="{{newItem.type}}" ng-init="newItem.value = ''">
                        </md-input-container>
                    </div>
                    <br />
                    <br />
                    <md-button ng-click="addItemToReport(); cancelDialog()" aria-label="add item" 
                        class="md-secondary md-raised">Add me!</md-button>
                </div>
            </md-dialog-content>
        </md-dialog>
<!--    </script>-->