<div ng-controller="itemController" flex="" layout="column" class="page" style="background-color:white">
<!--
  <div class="subHeaderStyle shady" layout="row" layout-align="start center">
      sub menu
  </div>
  <md-divider></md-divider>
-->
   <md-content style="padding: 8px; background-color:white">

    <div layout="row" layout-align="start center">
        <h3 class="md-title" style="margin-bottom:2px;">{{item.title}}</h3>
        <span flex=""></span>
      <md-switch ng-if="castleService.editMode" ng-model="item.required" style="margin:1px" aria-label="Is Required">
        Required
      </md-switch>
<!--
        <md-button ng-click="toggleAnswered()" 
                   aria-label="is answered" 
                   ng-class="item.answered ? 'md-primary' : 'btnBackground'" >
            <md-icon style="min-width:24px" 
                     md-svg-icon="{{getAnsweredIcon(item.answered)}}"></md-icon>
            <span>Complete</span> 
        </md-button>
-->
    </div>

<div ng-if="castleService.editMode">
    <md-menu>
        <md-button class="" 
           style="min-width:200px; 
                  background-color:#eee; 
                  text-transform:none;
                  text-align:left;
                  margin: 6px 0 12px 0;" 
           aria-label="select question type" 
           ng-click="$mdOpenMenu($event)">
            <span layout="row">
            <md-icon md-menu-origin md-svg-icon="{{getIcon(item.type)}}" 
                     style="margin: 6px 8px 6px 4px;"></md-icon>
            {{getItemType(item.type)}}
            <span flex=""></span>
            <md-icon md-svg-icon="arrow_drop_down"></md-icon>
            </span>
        </md-button>
        <md-menu-content width="3">
            <md-menu-item ng-repeat="(typevalue, typekey) in itemTypes.types" >
            <md-button ng-click="setItemType(typevalue)" aria-label="Insert Question">
            <md-icon md-menu-align-target md-svg-icon="{{getIcon(typevalue)}}"></md-icon>
            {{typekey}}
            </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <br/>
    <md-input-container class="md-block" style="margin-bottom:0">
      <label>Title</label>
      <input ng-model="item.title">
    </md-input-container>


</div>

<div>
    <!--                       CLIENT INFO-->
    <div ng-if="item.type == 'clientinfo'">
        <br /><br />
           <div layout="row" layout-sm="column">
            <div layout="" layout-sm="column">
                <md-input-container flex="">
                    <label>First name</label>
                    <input ng-model="item.value.firstName">
                </md-input-container>
                <md-input-container flex="">
                    <label>Last Name</label>
                    <input ng-model="item.value.lastName">
                </md-input-container>
            </div>
        </div>
        <md-input-container flex="">
            <label>Address</label>
            <input ng-model="item.value.address">
        </md-input-container>

        <md-input-container md-no-float="">
            <label>Address Line 2</label>
            <input ng-model="item.value.addressTwo">
        </md-input-container>

        <div layout="" layout-sm="column">
            <md-input-container flex="">
                <label>City</label>
                <input ng-model="item.value.city">
            </md-input-container>
            <md-input-container flex="">
                <label>State</label>
                <input ng-model="item.value.state">
            </md-input-container>
            <md-input-container flex="">
                <label>Postal Code</label>
                <input ng-model="item.value.postalCode">
            </md-input-container>
        </div>
    </div>

    <div layout="column" layout-fill="" layout-align="top stretch">

        <!--                           PRE-SET TEXT-->
        <div ng-if="item.type == 'presettext'">
                <md-input-container class="md-block" >
                  <label>paragraph</label>
                  <textarea ng-model="item.value" md-maxlength="5000" md-select-on-focus></textarea>
                </md-input-container>
        </div>
        
        <!--                           CHECKBOX-->
        <div ng-if="item.type == 'checkbox'">
            <div ui-sortable="sortableOptions"  ng-model="item.content" >
                <div ng-repeat="checkbox in item.content track by $index"                  
                     class="list_item flex-wrap" 
                     style="background-color:#FFF;" layout="column" layout-align="center stretch">
                     <div layout="column" layout-align="center stretch" ng-class="checkbox.c ? 'cStyles' : ''">
<!--                     <md-divider ng-show="checkbox.c" style="margin:8px 0 8px 0;"></md-divider>-->
                    <div ng-show="checkbox.c" style="margin-top:16px;"></div>
                     <div layout="row" layout-align="start center">
                     
                     <div class="handle" ng-show="castleService.editMode">
                         <md-icon md-svg-icon="./img/drag.svg" ></md-icon>
                     </div>
                     
                    <md-checkbox class="md-secondary checkboxery" ng-model="checkbox.c" aria-label="{{checkbox.title}}"   style="position:relative; display:inline" >{{checkbox.title}}
                    </md-checkbox>
                    <span flex=""></span>
                     <md-button ng-show="castleService.editMode" class="md-icon-button" 
                               aria-label="add sub question"
                               ng-click="remove(item.content, $index)" 
                     >
                            <md-icon md-svg-icon="cancel"></md-icon>
                     </md-button> 
                     </div>
                    <div layout="row" layout-align="start center" ng-show="checkbox.c" class="" style="margin-left:15px;">
                        <md-button ng-show="!castleService.assignPhotoMode" class="md-icon-button" ng-click="showRapidRemarksDialog($event, itemIndex, $index)" aria-label="add rapid remark">
                            <md-icon md-svg-icon="{{(checkbox.rrTitle == null) ? 'rrAdd' : 'rrEdit'}}" ng-class="(checkbox.rrTitle == null) ? '' : 'md-accent'"></md-icon>
                        </md-button>
                        <md-menu style="text-align:center; padding:0;">
                            <md-button class="md-icon-button" aria-label="view images" ng-click="$mdOpenMenu()" ng-show="checkbox.c">
                                <md-icon md-svg-icon="image" ng-class="(checkbox.i != '' && checkbox.i != null) ? 'md-accent' : ''"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-content style="max-height:480px;  overflow-y:scroll;">
                                    <md-card ng-repeat="checkboxImage in checkbox.i track by $index" style="position:relative;" layout="column" layout-align="center end">
                                        <md-button ng-click="removeIMG(checkbox.i, $index)" class="md-icon-button cancelIMG">
                                            <md-icon md-svg-icon="delete" aria-label="rapid remarks"></md-icon>
                                        </md-button>
                                        <div class="UpPicture" style="background-image: url('{{checkboxImage}}')" />
                                    </md-card>
                                       <md-menu-item ng-if="checkbox.i == null || checkbox.i.length <= 0" >
                                        <h3  
                                             class="md-caption"
                                             style="padding: 4px 8px; text-align:center">No photos yet!</h3>
                                        </md-menu-item>
                                </md-content>
                            </md-menu-content>
                        </md-menu>
                        <md-button ng-show="checkbox.c && !castleService.assignPhotoMode" 
                                   class="md-icon-button" 
                                   ng-click="initCameraAction(checkbox, true, true)" 
                                   aria-label="capture photo">
                            <md-icon md-svg-icon="camera" class=""></md-icon>
                        </md-button>
                        <md-button ng-show="checkbox.c && castleService.assignPhotoMode && (checkbox.a == null || !checkbox.a)" 
                                   class="" 
                                   ng-click="castleService.assignPhotos(checkbox, 'assign')" 
                                   aria-label="assign photo">
                            Assign
                        </md-button>
                        <md-button ng-show="checkbox.c && castleService.assignPhotoMode && checkbox.a" 
                                   class="" ng-click="castleService.assignPhotos(checkbox, 'accept')" 
                                   aria-label="accept assigned photo">
                            Accept
                        </md-button>
                        <md-button ng-show="checkbox.c && castleService.assignPhotoMode && checkbox.a" 
                                   class="" ng-click="castleService.assignPhotos(checkbox, 'cancel')" 
                                   aria-label="cancel assigned photo">
                            Cancel
                        </md-button>
                    </div>
<!--                         <md-divider ng-show="checkbox.c" style="margin-bottom:8px;"></md-divider>-->
                    </div>
                   
                </div>
            </div>
            <form ng-if="castleService.editMode" 
                  ng-submit="addSubQuestion(newstuff); newstuff = '';" 
                  layout="row" 
                  style="margin:5px 0 15px 4px">
                <button type="submit" class="addButton">
                    <md-icon style="color:gray" md-svg-icon="add"></md-icon>
                </button>
                <input required 
                       style="border-width: 0 0 1px 0" 
                       ng-model="newstuff" 
                       type="text" 
                       placeholder="{{item.type}} item">
            </form>
        </div>
        
        <!--                            RADIO-->
        <div ng-if="item.type == 'radio'" id="radParent">
            <md-radio-group ng-model="item.value">
               <div ui-sortable="{'ui-floating': false, 'handle': '.handle', 'containment': '#radParent'}"   ng-model="item.content">
                  <div ng-repeat="radiovalue in item.content track by $index">
                      <div layout="row" 
                           layout-align="start center"
                           style="background-color:#FFF;">
                         <div class="handle" ng-show="castleService.editMode">
                             <md-icon md-svg-icon="./img/drag.svg" ></md-icon>
                         </div>
                         <md-radio-button ng-value="radiovalue.title" class="">
                            <span>{{radiovalue.title}}</span>
                         </md-radio-button>
                         <span flex=""></span>
                         <md-button ng-show="castleService.editMode" class="md-icon-button" 
                                   aria-label="add sub question"
                                   ng-click="remove(item.content, $index)">
                             <md-icon md-svg-icon="cancel"></md-icon>
                         </md-button>
                     </div>
                    <div layout="row" layout-align="start center" 
                         ng-show="radiovalue.title == item.value" class="" 
                         style="margin-left:15px;">
                        <md-button ng-show="!castleService.assignPhotoMode" 
                                   class="md-icon-button" 
                                   ng-click="showRapidRemarksDialog($event, itemIndex, $index)" 
                                   aria-label="add rapid remark">
                                   <md-icon md-svg-icon="{{(radiovalue.rrTitle == null) ? 'rrAdd' : 'rrEdit'}}" 
                                            ng-class="(radiovalue.rrTitle == null) ? '' : 'md-accent'"></md-icon>
                        </md-button>
                        <md-menu style="text-align:center; padding:0;">
                            <md-button class="md-icon-button" aria-label="view images" ng-click="$mdOpenMenu()" ng-show="radiovalue.title == item.value">
                                <md-icon md-svg-icon="image" ng-class="(radiovalue.i != '' && radiovalue.i != null) ? 'md-accent' : ''"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-content style="max-height:480px;  overflow-y:scroll;">
                                    <md-card ng-repeat="checkboxImage in radiovalue.i track by $index" style="position:relative;" layout="column" layout-align="center end">
                                        <md-button ng-click="removeIMG(radiovalue.i, $index)" class="md-icon-button cancelIMG">
                                            <md-icon md-svg-icon="delete" aria-label="rapid remarks"></md-icon>
                                        </md-button>
                                        <div class="UpPicture" style="background-image: url('{{checkboxImage}}')" />
                                    </md-card>
                                        <md-menu-item ng-if="radiovalue.i == null || radiovalue.i.length <= 0" >
                                         <h3 class="md-caption"
                                             style="padding: 4px 8px; text-align:center">No photos yet!</h3>
                                        </md-menu-item>
                                </md-content>
                            </md-menu-content>
                        </md-menu>
                        <md-button ng-show="radiovalue.title == item.value && !castleService.assignPhotoMode" 
                                   class="md-icon-button" 
                                   ng-click="initCameraAction(radiovalue, true, true)" 
                                   aria-label="capture photo">
                            <md-icon md-svg-icon="camera" class=""></md-icon>
                        </md-button>
                        <md-button ng-show="radiovalue.title == item.value && castleService.assignPhotoMode && (radiovalue.a == null || !radiovalue.a)" 
                                   class="" 
                                   ng-click="castleService.assignPhotos(radiovalue, 'assign')" 
                                   aria-label="assign photo">
                            Assign
                        </md-button>
                        <md-button ng-show="radiovalue.title == item.value && castleService.assignPhotoMode && radiovalue.a" 
                                   class="" ng-click="castleService.assignPhotos(radiovalue, 'accept')" 
                                   aria-label="accept assigned photo">
                            Accept
                        </md-button>
                        <md-button ng-show="radiovalue.title == item.value && castleService.assignPhotoMode && radiovalue.a" 
                                   class="" ng-click="castleService.assignPhotos(radiovalue, 'cancel')" 
                                   aria-label="cancel assigned photo">
                            Cancel
                        </md-button>
                    </div>
                  
                  </div>
              </div>
            </md-radio-group>
            <form ng-if="castleService.editMode" 
                  ng-submit="addSubQuestion(newstuff); newstuff = '';" 
                  layout="row" 
                  style="margin:5px 0 15px 4px">
                <button type="submit" class="addButton">
                    <md-icon style="color:gray" md-svg-icon="add"></md-icon>
                </button>
                <input required 
                       style="border-width: 0 0 1px 0" 
                       ng-model="newstuff" 
                       type="text" 
                       placeholder="{{item.type}} item">
            </form>
        </div>

        <!--                           NUMBER-->
        <div ng-if="item.type == 'number'">
            <md-input-container layout="row">
                <label>{{item.title}}</label>
                <input ng-model="item.value" type="number" flex="50" flex-sm="">
            </md-input-container>
        </div>

        <!--                           TEXT-->
        <div ng-if="item.type == 'text'  && (item.required == true || castleService.hideShowOptions.showNonRequired)">
            <md-input-container>
                <label>{{item.title}}</label>
                <input ng-model="item.value" type="text">
            </md-input-container>
        </div>

        <!--                           SELECT-->
        <div ng-if="item.type == 'select'">
            <md-input-container>
                <md-select ng-model="item.value" placeholder="Select {{item.title}}">
                    <md-option ng-repeat="radiovalue in item.content track by $index" ng-value="radiovalue.title">{{radiovalue.title}}</md-option>
                </md-select>
            </md-input-container>
            <form ng-if="castleService.editMode" 
                  ng-submit="addSubQuestion(newstuff); newstuff = '';" 
                  layout="row" 
                  style="margin:5px 0 15px 4px">
                <button type="submit" class="addButton">
                    <md-icon style="color:gray" md-svg-icon="add"></md-icon>
                </button>
                <input required 
                       style="border-width: 0 0 1px 0" 
                       ng-model="newstuff" 
                       type="text" 
                       placeholder="{{itemTypes.types[item.type]}} item">
            </form>
        </div>

        <!--                           DATE-->
        <div ng-if="item.type == 'date'">
            <md-input-container layout="row">
                <label>{{item.title}}</label>
                <input ng-model="tempDate" onchange="setItem(item, tempDate)" type="date" flex-gt-sm="50" flex-sm="">
            </md-input-container>
        </div>
        
        <!--        IMAGE-->
        <div ng-if="item.type == 'image'">
            <div layout="row" class="flex-wrap" style="display:flex; flex-wrap:wrap;">
                <div ng-repeat="imageItem in item.i track by $index">
                    <div class="UpPicture" style="background-image: url('{{imageItem}}')">
                        <div layout="row">
                            <span flex=""></span>
                            <md-checkbox class="md-secondary" 
                                        aria-label="select image" 
                                        ng-checked="isInArray($index, castleService.selectedImages)" 
                                        ng-click="addToSelectedImages($index)">
                            </md-checkbox>
                        </div>
                        <div class="md-caption pictureBox"></div>
                        <div class="centerTextVertical">
                            <span class="md-caption imageTitle"></span>
                        </div>
                    </div>
                </div>

            </div>
                <div ng-if="item.i == null || item.i.length <= 0">
                    <h1 class="md-caption">
                        No photos yet!
                    </h1>
                </div>
                        <md-button ng-show="castleService.assignPhotoMode && (item.a == null || !item.a)" 
                                   class="" 
                                   ng-click="castleService.assignPhotos(item, 'assign')" 
                                   aria-label="assign photo">
                            Assign
                        </md-button>
                        <md-button ng-show="castleService.assignPhotoMode && item.a" 
                                   class="" ng-click="castleService.assignPhotos(item, 'accept')" 
                                   aria-label="accept assigned photo">
                            Accept
                        </md-button>
                        <md-button ng-show="castleService.assignPhotoMode && item.a" 
                                   class="" ng-click="castleService.assignPhotos(item, 'cancel')" 
                                   aria-label="cancel assigned photo">
                            Cancel
                        </md-button>
                        
            <div class="mainButtonMenu">
                <md-button class="md-fab md-primary" 
                           style="margin-right:27px;" 
                           aria-label="capture photo"
                           ng-click="capturePhoto(1, unassignedImages, true, true)">
                    <md-icon md-svg-icon="camera" ></md-icon>
                </md-button>
            </div>   
        </div>
        
        <div layout="row" layout-align="start center" 
                          ng-if="item.type != 'checkbox' && item.type != 'radio' && item.type != 'image'">
                        <md-button ng-show="!castleService.assignPhotoMode" 
                                   class="md-icon-button" 
                                   ng-click="showRapidRemarksDialog($event, itemIndex, $index)" 
                                   aria-label="add rapid remark">
                            <md-icon md-svg-icon="{{(item.rrTitle == null) ? 'rrAdd' : 'rrEdit'}}" 
                                     ng-class="(item.rrTitle == null) ? '' : 'md-accent'"></md-icon>
                        </md-button>
                        <md-menu style="text-align:center; padding:0;">
                            <md-button class="md-icon-button" aria-label="view images" ng-click="$mdOpenMenu()">
                                <md-icon md-svg-icon="image" ng-class="(item.i != '' && item.i != null) ? 'md-accent' : ''"></md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-content style="max-height:480px;  overflow-y:scroll;">
                                    <md-card ng-repeat="checkboxImage in item.i track by $index" style="position:relative;" layout="column" layout-align="center end">
                                        <md-button ng-click="removeIMG(item.i, $index)" class="md-icon-button cancelIMG">
                                            <md-icon md-svg-icon="delete" aria-label="rapid remarks"></md-icon>
                                        </md-button>
                                        <div class="UpPicture" style="background-image: url('{{checkboxImage}}')" />
                                    </md-card>
                                       <md-menu-item ng-if="item.i == null || item.i.length <= 0" >
                                        <h3  
                                             class="md-caption"
                                             style="padding: 4px 8px; text-align:center">No photos yet!</h3>
                                        </md-menu-item>
                                </md-content>
                            </md-menu-content>
                        </md-menu>
                        <md-button ng-show="!castleService.assignPhotoMode" 
                                   class="md-icon-button" 
                                   ng-click="initCameraAction(item, true, true)" 
                                   aria-label="capture photo">
                            <md-icon md-svg-icon="camera" class=""></md-icon>
                        </md-button>
                        <md-button ng-show="castleService.assignPhotoMode && (item.a == null || !item.a)" 
                                   class="" 
                                   ng-click="castleService.assignPhotos(item, 'assign')" 
                                   aria-label="assign photo">
                            Assign
                        </md-button>
                        <md-button ng-show="castleService.assignPhotoMode && item.a" 
                                   class="" ng-click="castleService.assignPhotos(item, 'accept')" 
                                   aria-label="accept assigned photo">
                            Accept
                        </md-button>
                        <md-button ng-show="castleService.assignPhotoMode && item.a" 
                                   class="" ng-click="castleService.assignPhotos(item, 'cancel')" 
                                   aria-label="cancel assigned photo">
                            Cancel
                        </md-button>
       </div>
        
      </div>
    </div>
   <div ng-show="!itemSet() && !castleService.editMode">
       <div class="md-caption" style="margin-left:8px;">Question not defined yet.</div>
        <md-button class="md-raised"
                   aria-label="edter edit mode"
                   ng-click="castleService.editMode = true">
                   <md-icon md-svg-icon="mode_edit" ></md-icon>
                   Enter edit mode
         </md-button>
    </div>
    <div layout="row" layout-align="start center" ng-show="itemSet()">
        <md-button ng-click="toggleAnswered()" 
                   aria-label="is answered" 
                   ng-class="item.answered ? 'md-primary' : 'btnBackground'" >
            <md-icon style="min-width:24px" 
                     md-svg-icon="{{getAnsweredIcon(item.answered)}}"></md-icon>
            <span>Complete</span> 
        </md-button>
        <md-button ng-click="clearQuestion(item)" 
                   aria-label="clear" 
                   class="md-raised md-primary" 
                   style="">
<!--<md-icon md-svg-icon="cancel"></md-icon>-->
            <span>Clear Answers</span> 
            
        </md-button>
    </div>
    </md-content>
</div>