<div ng-controller="pageController" 
     layout="column" class="page" >
   <md-content flex>
   <div class="centerPage">
    <span layout="row" layout-align="start center">
        <h2 class="md-subhead insTitle" style="margin-bottom:0px;">{{page.title}} Questions 
                                        {{page.answeredCount}}/{{page.items.length}}</h2>
        <span flex=""></span>
    </span>
    <!--           PAGES-->
    <md-card id="pageParent" ui-sortable="{'ui-floating': false, 'handle': '.handle', 'containment':'#pageParent'}" ng-model="page.items">
        <div ng-repeat="item in page.items track by $index" layout="column" style="background-color:white;">
            <div layout="row" layout-align="start center" style="min-height:52px">
                <div ng-show="castleService.editMode" class="handle" style="text-align:right; margin-left:8px;">
                     <md-icon md-svg-icon="./img/drag.svg" ></md-icon>
                </div>
                <div ng-if="castleService.editMode" style="padding:8px 0 8px 8px;" layout="row">
                   <input type="text" 
                   ng-model="item.title"
                   class="subsection"
                   placeholder="Question Title"
                   id="{{'questionId' + $index}}"
                   aria-label="{{item.title}}"
                   style="border-width:0 0 1px 0; background-color:inherit; margin-left:4px;"/>
                </div>
                <md-button
                    class="md-no-style subsection wideButton"
                    aria-label="Go to {{item.title}}"
                    ui-sref="item({'sectionIndex':sectionIndex, 
                            'pageIndex':pageIndex, 'itemIndex':$index})">
                  <span ng-show="!castleService.editMode">
                      <span style="padding-left:16px;" >{{item.title}} <span ng-show="item.required">*</span></span>
                  </span>
                </md-button>
                <span flex=""></span>
                <md-button ng-show="castleService.editMode"
                           class="md-icon-button"
                           style="min-width:40px;"
                           aria-label="remove question"
                           ng-click="remove(page.items, $index)"
                           ng-disabled="item.required">
                    <md-icon md-svg-icon="cancel" ng-class="item.required ? 'faded-button' : ''"></md-icon>
                </md-button>
                <div ng-show="!castleService.editMode" 
                     style="min-width:45px;  text-align:center"  >
                    <md-icon ng-if="isItemSet(item)"
                             md-svg-icon="{{item.answered ? 'check' : getIcon(item.type)}}"
                             ng-class="item.answered ? 'md-primary' : 'greyed'"></md-icon>
                    <span ng-if="!isItemSet(item)" class="md-caption greyed">NEW</span>
                </div>
            </div>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-card>
           <div ng-if="page.items.length == 0 && !castleService.editMode" 
                style="margin-left:16px;">
               <md-card>
               <md-card-content>
               <div class="md-caption">No Questions here yet.</div>
                </md-card-content>
                </md-card>
                <md-button class="md-raised md-block"
                           aria-label="edter edit mode"
                           ng-click="castleService.editMode = true">
                           <md-icon md-svg-icon="mode_edit" ></md-icon>
                           Enter edit mode
                </md-button>
           </div>
           
            <md-button ng-show="castleService.editMode"
                       class="md-raised md-accent"
                       aria-label="Add new question"
                       ng-click="addNewQuestion(page.items)">
                <span>add question</span>
            </md-button>
            <div style="margin-bottom:85px;"></div>
            </div>
     </md-content>
    <div class="mainButtonMenu">
            <md-button class="md-fab md-primary" 
                       style="margin-right:27px;" 
                       aria-label="capture photo"
                       ng-click="capturePhoto(1, unassignedImages, true, true)">
                <md-icon md-svg-icon="camera" ></md-icon>
            </md-button>
    </div>   
</div> <!--end controller-->
