<div ng-controller="photoAppendixController" flex="" layout="column" class="page">
   <md-content style="padding: 8px">
       
        <!--                           APPENDIX PHOTO-->
            <div layout="row" ng-init="selectImage = false" class="flex-wrap">
                <div ng-if="castleService.selectedImages.length > 0";>
                    <md-button class="black" 
                               ng-click="enterAssignPhotosMode()" 
                               aria-label="Assign to Item">
                               <md-icon md-svg-icon="perm_media"></md-icon> Assign
                    </md-button>
                    <md-button class="black" ng-click="clearSelection()" 
                               aria-label="Clear selection">
                        <md-icon md-svg-icon="clear"></md-icon> Clear
                    </md-button>
                    <md-button class="black" 
                               ng-click="deletePhotos()" 
                               aria-label="Delete Photos">
                        <md-icon md-svg-icon="delete"></md-icon> Delete
                    </md-button>
                </div>
            </div>
            <div layout="row" class="flex-wrap" style="display:flex; flex-wrap:wrap;">
                <div ng-repeat="pageImage in report.photoAppendix track by $index">
                    <div class="UpPicture" style="background-image: url('{{pageImage}}')">
                        <div layout="row">
                            <span flex=""></span>
                            <md-checkbox class="md-secondary" 
                                        aria-label="select image" 
                                        ng-checked="isInArray($index, castleService.selectedImages)" 
                                        ng-click="addToSelectedImages($index)">
                            </md-checkbox>
                        </div>
                        <div class="md-caption pictureBox"></div>
                        <div class="centerTextVertical">
                            <span class="md-caption imageTitle"></span>
                        </div>
                    </div>
                </div>
            </div>
    </md-content>
    <div class="mainButtonMenu">
            <md-button class="md-fab md-primary" 
                       style="margin-right:27px;" 
                       aria-label="capture photo"
                       ng-click="capturePhoto(1, unassignedImages, true, true)">
                <md-icon md-svg-icon="camera" ></md-icon>
            </md-button>
    </div> 
</div>