<!--    <script type="text/ng-template" id="rapidRemarksDialog.html">-->
        <md-dialog focusOnOpen="false">

            <input style="display:none" type="text" autofocus />
            <md-toolbar layout="row" layout-align="center center">
                <h3 class="md-subhead" style="padding:0 25px">Link Rapid Remark</h3>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="cancel" ng-click="cancelDialog()">
                    <md-icon md-svg-icon="close"></md-icon>
                </md-button>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <form ng-submit="linkRemark(remarkItem, rItem, false); cancelDialog()">
                        <span ng-init="remarkItem = report.sections[selectedSection].pages[selectedPage].items[$root.itemIndex].content[$root.checkboxIndex]"></span>
                        <md-input-container ng-init="rItem.rrTitle = remarkItem.rrTitle" class="md-block">
                            <md-select required ng-model="rItem.rrTitle" placeholder="Rapid Remark Sections">
                                <md-option ng-repeat="remarkSection in rapidRemarks track by $index" ng-value="$index">{{remarkSection.title}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container ng-if="rItem.rrTitle != null" ng-init="rItem.rrVal = remarkItem.rrVal"  class="md-block">
                            <md-select required ng-model="rItem.rrVal" placeholder="Rapid Remarks">
                                <md-option ng-repeat="remark in rapidRemarks[rItem.rrTitle].content track by $index" ng-value="$index">{{remark.title}}</md-option>
                            </md-select>
                        </md-input-container>
                        <div layout="row">
                            <span flex></span>
                            <md-button ng-click="linkRemark(remarkItem, rItem, true)" aria-label="clear" class="md-accent md-raised">clear</md-button>
                            <md-button type="submit" aria-label="submit" class=" md-raised">Link me!</md-button>
                        </div>
                        <div>
                            <h3>{{rapidRemarks[rItem.rrTitle].content[rItem.rrVal].title}}</h3>
                            <p>{{rapidRemarks[rItem.rrTitle].content[rItem.rrVal].value}}</p>
                        </div>
                    </form>
                </div>
            </md-dialog-content>
        </md-dialog>
<!--    </script>-->