
<div ng-controller="savedController"  class="page" >

<!--
    <md-card >
        <md-card-content >
-->
       <md-content style="padding: 4px 16px 16px 16px;">
        <div layout="row" class="flex-wrap" layout-align="start center">
             <md-input-container class="black">
                 <md-icon md-svg-icon="sort"></md-icon>
                <md-select ng-model="orderAttribute">
                    <md-option ng-repeat="orderOption in orderAttributeOptions" 
                        ng-value="orderOption">{{orderOption}}</md-option>
                </md-select>
            </md-input-container>

            <md-button ng-click="reverse = !reverse" class="black">
               <md-icon md-svg-icon="swap_vert"></md-icon>  Reverse Order
            </md-button>
            <md-button 
               ng-click="switchReport(defaultReport)" 
               ui-sref="create" 
               class="md-primary">
               <md-icon md-svg-icon="new_report"></md-icon> New Job
            </md-button>
        </div>
        <div layout="row" layout-align="start center" class="flex-wrap" >
            <md-card ng-repeat="sReport in castleService.reports | 
                                orderBy:orderAttribute:reverse"
                     ng-click="switchReport(sReport)" 
                     ui-sref="inspection({sectionIndex:'default'})">
                <md-card-content>
                    <div class="">#12345</div>
                    <div class="md-subhead">{{sReport.title}}</div>
                    <div class="md-caption">12/29/1989</div>
                </md-card-content>
            </md-card>
            <md-card class="frameStyle" 
                     ui-sref="create" 
                     layout="column"
                     layout-align="center center">
               <div>
                <md-icon class="" md-svg-icon="add_circle_outline" 
                    style="height:35px; width:35px; margin:5px;"></md-icon>
                <div>Create New Job</div>
                </div>
                
            </md-card>
        </div>
        </md-content>
<!--
        </md-card-content>
    </md-card>
-->
</div>
