<div ng-controller="templateController" flex="" layout="column" class="page" id="nav">
<!--
   <md-card >
        <md-card-content >
-->
       <div style="padding:16px">
        <div layout="row" class="flex-wrap" layout-align="start center">
             <md-input-container>
                <md-icon md-svg-icon="sort"></md-icon>
                <label>Order by</label>
                <md-select ng-model="orderAttribute">
                    <md-option ng-repeat="orderOption in orderAttributeOptions" 
                               ng-value="orderOption">{{orderOption}}</md-option>
                </md-select>
            </md-input-container>

            <md-button ng-click="reverse = !reverse" style="text-transform:none">
               <md-icon md-svg-icon="reverse"></md-icon>  Reverse Order
            </md-button>

            <md-button ui-sref="create({sectionIndex:'default'})" class="md-primary " >
                <md-icon md-svg-icon="new_report"></md-icon>  New Template
            </md-button>
        </div>

        <div layout="row" class="flex-wrap" >
           
            <md-whiteframe class="md-whiteframe-1dp frameStyle" 
               layout="column"
               layout-align="center center">
               <div>
                <md-icon md-svg-icon="add_circle_outline" style="height:35px; width:35px; margin:5px;"></md-icon>
                <div>New Template</div>
                </div>
            </md-whiteframe>
            
            <md-card  ng-repeat="reportTemplate in castleService.templates | orderBy:orderAttribute:reverse"
               ng-click="switchTemplate(reportTemplate)" layout-align="center center">
                <span>{{reportTemplate.title}}</span>
            </md-card>
        </div>
        </div>
<!--
        </md-card-content>
    </md-card>
-->


</div>
