<link type="text/css" rel="stylesheet" href="pages/settings/settings.css" />
<div class="page-setings" style="padding: 30px; text-align: center">
  <h3>In the future, you will be able to use this page to control high level app settings.</h3>
  <h2>But... not yet.</h2>
  
  <pre>"Good things take time."
  -Someone Awesome-
  </pre>
  
  <hr />
  
  <md-button class="md-warn md-raised" ng-click="wipeDatabase()">Clear All Data</md-button>
  <md-button class="md-accent md-raised" ng-click="reload()">Restart</md-button>
  <md-button class="md-accent md-raised" ng-click="logout()">Logout</md-button>
  <hr />
    
  <h3>Insert Auto Comments</h3>
    
    <md-card style="width: 80%; margin: auto;">
      <md-input-container class="md-block" style="width: 50%; margin-left: 25%;">
        <label>Title</label>
        <input type="text" ng-model="acTitle" required name="title" maxlength="25">
      </md-input-container>
      <md-input-container class="md-block" style="width: 50%; margin-left: 25%;">
        <label>Text</label>
        <textarea ng-model="acText" required name="text"></textarea>
      </md-input-container>
      <md-button style="width:50%; margin-left: 25%" class="md-accent md-raised" ng-click="addAutoComment()">Add Auto Comment</md-button>
    </md-card>
    
  <h3>Edit/View Auto Comments</h3>
    <md-card class="autocomment-card" style="width: 80%; margin: auto;">
      <md-input-container class="md-block" style="width: 50%; margin-left: 25%;">
        <md-select ng-model="selectedAutoComment" placeholder="Select a title">
            <md-option ng-value="ac" ng-repeat="ac in autoComments">
                {{ac.acKey}}
            </md-option>
        </md-select>
      </md-input-container>
      <md-input-container style="width: 50%; margin-left: 25%;">
        <textarea ng-model="selectedAutoComment.acAutoComment" id="acTextContainer" name="text" style="resize: none">{{selectedAutoComment.acAutoComment}}</textarea>
      </md-input-container>
      <md-button style="width:50%; margin-left: 25%" class="md-accent md-raised" ng-click="editAutoComment()">Save Changes</md-button>
    </md-card>
</div>
