<link type="text/css" rel="stylesheet" href="pages/settings/settings.css" />
<div class="page" style="padding: 30px; text-align: center">
  <h3>In the future, you will be able to use this page to control high level app settings.</h3>
  <h2>But... not yet.</h2>
  
  <pre>"Good things take time."
  -Someone Awesome-
  </pre>
  
  <hr />
  
  <md-button class="md-warn md-raised" ng-click="wipeDatabase()">Clear All Data</md-button>
  <md-button class="md-accent md-raised" ng-click="reload()">Restart</md-button>
  <md-button class="md-accent md-raised" ng-click="logout()">Logout</md-button>
  <hr />
</div>
