<div ng-controller="createController" flex="" layout="row" class="page" id="nav">

    <md-content style="height:100%;">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-locked-open subNavLeft" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-swipe-left="close()">
            <!--subNavLeft-->
            <md-toolbar class="md-theme-indigo" ng-click="close()">
                <h2 class="md-toolbar-tools md-title">{{currentPage}}</h2>
            </md-toolbar>
            <md-content>
                <md-list class="subMenu">

                    <md-list-item ng-repeat="(sectionkey, section) in notSorted(report)" role="listitem" class="md-proxy-focus md-ink-ripple">

                        <md-button class="md-secondary menuButton" ng-click="navigatePage(section)" aria-label="{{section}}">{{section}}</md-button>
                    </md-list-item>

                </md-list>
            </md-content>
        </md-sidenav>
    </md-content>

    <section flex="" layout="column" md-swipe-right="toggleLeft()" md-scroll-y style="position:relative">
        <md-content id="testAgain">
            <!--<div ng-repeat="(sectionkey, sectiontitle) in notSorted(report)">-->
            <md-card ng-repeat="(pagekey, pagetitle) in notSorted(report[currentPage])" class="md-whiteframe-z1 subPageStyle" ng-init="page = report[currentPage][pagetitle]">
                <!--<md-card>-->
                <md-card-content style="position:relative">
                    <md-subheader ng-click="toggleLeft()" class="subHeader md-primary" style="cursor:pointer;">{{currentPage}}
                        <md-icon md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_chevron_right_48px.svg" class="headNavIcon"></md-icon>{{pagetitle}}
                    </md-subheader>

                    <div ng-repeat="(listKey, listValue) in notSorted(page)" ng-init="itemVal = report[currentPage][pagetitle][listValue]">

<!--                       CLIENT INFO-->
                        <div ng-if="itemVal.type == 'clientinfo'">
                            <md-divider></md-divider>
                            <h3 class="md-headline">Client Info</h3>
                            <div layout="row" layout-sm="column">

                                <div layout="" layout-sm="column">
                                    <md-input-container flex="">
                                        <label>First name</label>
                                        <input ng-model="page.input.firstName">
                                    </md-input-container>
                                    <md-input-container flex="">
                                        <label>Last Name</label>
                                        <input ng-model="page.input.lastName">
                                    </md-input-container>
                                </div>
                            </div>
                            <md-input-container flex="">
                                <label>Address</label>
                                <input ng-model="page.input.address">
                            </md-input-container>

                            <md-input-container md-no-float="">
                                <label>Address 2</label>
                                <input ng-model="page.input.addressTwo">
                            </md-input-container>

                            <div layout="" layout-sm="column">
                                <md-input-container flex="">
                                    <label>City</label>
                                    <input ng-model="page.input.city">
                                </md-input-container>
                                <md-input-container flex="">
                                    <label>State</label>
                                    <input ng-model="page.input.state">
                                </md-input-container>
                                <md-input-container flex="">
                                    <label>Postal Code</label>
                                    <input ng-model="page.input.postalCode">
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="column" layout-fill="" layout-align="top center">

<!--                           PRE-SET TEXT-->
                            <md-list ng-if="itemVal.type == 'presettext'">
                                <md-list-item>
                                    <div class="relFlex">
                                        <md-switch ng-model="itemVal.showcontent" aria-label="Show listValue" flex="90" class="firstPosition md-body-1">Show {{listValue}} Message </md-switch>
                                        <md-icon md-svg-icon="./bower_components/material-design-icons/communication/svg/design/ic_message_48px.svg" class="md-accent" ng-click="showMessage($event, listValue, itemVal.content)" flex="10"></md-icon>
                                    </div>
                                </md-list-item>
                            </md-list>

<!--                           CHECKBOX-->
                            <md-list ng-if="itemVal.type == 'checkbox'">
                                <md-divider></md-divider>
                                <h3 class="md-headline">{{listValue}}:</h3>

                                <md-list-item ng-repeat="(checkboxkey, checkboxval) in notSorted(itemVal.value)" class="relFlex" ng-init="checkboxvalue = page.checkboxes[checklist][checkboxval]">
                                    <span md-ink-ripple=""><md-checkbox class="md-secondary firstPosition md-body-1" ng-model="checkboxvalue" aria-label="{{checkboxval}}"  md-no-ink  flex-gt-md="80">{{checkboxval}}
                            </md-checkbox></span>
                                    <div flex=""></div>
                                    <md-icon ng-if="checkboxvalue" md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_image_48px.svg" class="md-accent" ng-click="capturePhoto()" flex="10"></md-icon>

                                    <md-icon ng-if="checkboxvalue" md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_camera_48px.svg" class="md-accent" ng-click="openCamera(checkboxval)" flex="10"></md-icon>
                                </md-list-item>
                            </md-list>

<!--                            RADIO-->
                            <div ng-if="itemVal.type == 'radio'">
                                <md-divider></md-divider>
                                <h3 class="md-headline">{{listValue}}:</h3>
                                <md-radio-group ng-model="itemVal.value">
                                    <md-radio-button ng-repeat="(radiokey, radiovalue) in notSorted(itemVal.content)" ng-init="radioval = itemVal.content[radiovalue]" ng-value="radioval">{{radioval}}</md-radio-button>
                                </md-radio-group>
                            </div>

<!--                           NUMBER-->
                            <div ng-if="itemVal.type == 'number'">

                                <md-divider></md-divider>
                                <h3 class="md-headline">{{listValue}}:</h3>
                                <md-input-container>
                                    <label>{{itemVal.label}}</label>
                                    <input ng-model="itemVal.value" type="number">
                                </md-input-container>
                            </div>

                        </div>
                    </div>

                    <md-button class="cameraButton md-accent" aria-label="Photos" ng-click="capturePhoto()">
                        <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_camera_48px.svg"></md-icon> Add Photo
                    </md-button>

                    <md-button class="cameraButton md-accent" aria-label="Photos" ng-click="capturePhoto()">
                        <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_image_48px.svg"></md-icon> View Photo
                    </md-button>
                    <div ng-repeat="image in images">{{image}}</div>

                    <a ng-click="scrollToTop()">TOP</a>
                    <div ng-if="$last" class="footerSpace"></div>


                </md-card-content>
            </md-card>
        </md-content>
    </section>


</div>
