<div ng-controller="createController" flex="" layout="row" class="page" id="nav">

        <md-sidenav class="md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-locked-open subNavLeft" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-swipe-left="close()">
            <!--subNavLeft-->
            <div class="padMe">
            <md-toolbar class="md-theme-indigo" ng-click="close()">
                <h2 class="md-toolbar-tools md-title">{{currentPage}}</h2>
            </md-toolbar>

                <md-list class="subMenu">

                    <md-list-item ng-repeat="(sectionkey, section) in notSorted(report)" class=" sideListItem">

                        <md-button class="md-secondary menuButton" ng-click="navigatePage(section)" aria-label="{{section}}">{{section}}</md-button>

                    </md-list-item>

                </md-list>
                 <a href="#generate"><md-button class="md-secondary" aria-label="generate Report">Generate Report</md-button></a>
            </div>
        </md-sidenav>


    <section flex="" layout="column" md-swipe-right="toggleLeft()" md-scroll-y style="position:relative">
        <md-content id="testAgain">
            <md-card ng-repeat="(pagekey, pagetitle) in notSorted(report[currentPage])" class="md-whiteframe-z1 subPageStyle" ng-init="page = report[currentPage][pagetitle]">

                <md-card-content style="position:relative">
                    <md-subheader ng-click="toggleLeft()" class="subHeader md-primary" style="cursor:pointer;">{{currentPage}}
                        <md-icon md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_chevron_right_48px.svg" class="headNavIcon"></md-icon>{{pagetitle}}
                    </md-subheader>

                    <div ng-repeat="(listKey, listValue) in notSorted(page)" ng-init="itemVal = report[currentPage][pagetitle][listValue]">

<!--                       CLIENT INFO-->
                        <div ng-if="itemVal.type == 'clientinfo'">

                            <h3 class="md-headline">Client Info</h3>
                            <div layout="row" layout-sm="column">

                                <div layout="" layout-sm="column">
                                    <md-input-container flex="">
                                        <label>First name</label>
                                        <input ng-model="itemVal.value.firstName">
                                    </md-input-container>
                                    <md-input-container flex="">
                                        <label>Last Name</label>
                                        <input ng-model="itemVal.value.lastName">
                                    </md-input-container>
                                </div>
                            </div>
                            <md-input-container flex="">
                                <label>Address</label>
                                <input ng-model="itemVal.value.address">
                            </md-input-container>

                            <md-input-container md-no-float="">
                                <label>Address Line 2</label>
                                <input ng-model="itemVal.value.addressTwo">
                            </md-input-container>

                            <div layout="" layout-sm="column">
                                <md-input-container flex="">
                                    <label>City</label>
                                    <input ng-model="itemVal.value.city">
                                </md-input-container>
                                <md-input-container flex="">
                                    <label>State</label>
                                    <input ng-model="itemVal.value.state">
                                </md-input-container>
                                <md-input-container flex="">
                                    <label>Postal Code</label>
                                    <input ng-model="itemVal.value.postalCode">
                                </md-input-container>
                            </div>

                        </div>

                        <div layout="column" layout-fill="" layout-align="top center">

<!--                           PRE-SET TEXT-->
                            <div ng-if="itemVal.type == 'presettext'">
                                    <div class="relFlex">
                                        <md-switch ng-model="itemVal.showcontent" aria-label="Show listValue" class="firstPosition md-body-1">Show {{listValue}} Message </md-switch>
                                        <div flex></div>
                                        <md-icon md-svg-icon="./bower_components/material-design-icons/communication/svg/design/ic_message_48px.svg" class="md-accent" ng-click="showMessage($event, listValue, itemVal.content)" flex="10"></md-icon>
                                    </div>
                            </div>

<!--                           CHECKBOX-->
                            <div ng-if="itemVal.type == 'checkbox'">

                                <h3 class="md-headline">{{listValue}}:</h3>

                                <div ng-repeat="(checkboxkey, checkboxval) in notSorted(itemVal.value)" ng-init="checkboxvalue = itemVal.value[checkboxval]"  layout="row" class="list_item" style="position:relative" >

                       <span md-ink-ripple class="md-body-1" md-proxy-focus style="margin:0" >
                           <md-checkbox class="md-secondary checkboxery" ng-model="checkboxvalue.c"  md-no-ink style="position:relative; display:inline" >{{checkboxval}}
                            </md-checkbox>
                       </span>
                                    <div flex=""></div>

                                    <md-menu  flex="10" style="text-align:center;" >
                                    <div ng-click="$mdOpenMenu()" style="padding:0 5px">
                                    <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_image_48px.svg" class="md-accent" ng-show="checkboxvalue.i != '' && checkboxvalue.c"></md-icon>
                                    </div>
                                    <md-menu-content>
                                         <md-content style="max-height:480px;  overflow-y:scroll;">
                                   <md-card ng-repeat="checkboxImage in checkboxvalue.i" style="position:relative;" layout="column" layout-align="center end">
                                   <div ng-click="removeIMG(checkboxImage, checkboxvalue.i)" class="cancelIMG" flex="">
                                       <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_clear_48px.svg" class="" ></md-icon>
                                   </div>
                                        <div class="UpPicture" style="background-image: url('{{checkboxImage.i}}')" />
                                    </md-card>
                                    </md-content>
                                    </md-menu-content>

                                    </md-menu>
<!--report[currentPage][pagetitle][listValue].value[checkboxval].i-->
                              <md-icon ng-show="checkboxvalue.c"  md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_camera_48px.svg" class="md-accent" ng-click="initCameraAction(checkboxvalue)" aria-label="capture photo" flex="10"></md-icon>

                                </div>
                                <md-divider></md-divider>
                            </div>

<!--                            RADIO-->
                            <div ng-if="itemVal.type == 'radio'">

                                <h3 class="md-headline">{{listValue}}:</h3>
                                <md-radio-group ng-model="itemVal.value">
                                    <md-radio-button ng-repeat="(radiokey, radiovalue) in notSorted(itemVal.content)" ng-init="radioval = itemVal.content[radiovalue]" ng-value="radioval">{{radioval}}</md-radio-button>
                                </md-radio-group>
                                <md-divider></md-divider>
                            </div>

<!--                           NUMBER-->
                            <div ng-if="itemVal.type == 'number'">
                                <h3 class="md-headline">{{listValue}}:</h3>
                                <md-input-container layout="row">
                                    <label>{{itemVal.label}}</label>
                                    <input ng-model="itemVal.value" type="number" flex-gt-sm="50" flex-sm="">
                                </md-input-container>
                            </div>

<!--                           TEXT-->
                            <div ng-if="itemVal.type == 'text'">
                                <h3 class="md-headline">{{listValue}}:</h3>
                                <md-input-container>
                                    <label>{{itemVal.label}}</label>
                                    <input ng-model="itemVal.value" type="text" >
                                </md-input-container>
                            </div>

<!--                           SELECT-->
                            <div ng-if="itemVal.type == 'select'">
                               <h3 class="md-headline">{{listValue}}:</h3>
                                <md-input-container>
                                  <md-select ng-model="itemVal.value" placeholder="Select {{listValue}}">
                                    <md-option ng-repeat="(radiokey, radiovalue) in notSorted(itemVal.content)" ng-init="radioval = itemVal.content[radiovalue]" ng-value="radioval">{{ radioval }}</md-option>
                                  </md-select>
                                </md-input-container>
                            </div>

<!--                           DATE-->
                            <div  ng-if="itemVal.type == 'date'">
                                <h3 class="md-headline">{{listValue}}:</h3>
                                <md-input-container layout="row">
                                    <label>{{itemVal.label}}</label>
                                    <input ng-model="itemVal.value" type="date" flex-gt-sm="50" flex-sm="">
                                </md-input-container>
                            </div>




<!--
                    <md-menu  flex="10" style="text-align:center;" >
                    <div ng-click="$mdOpenMenu()" style="padding:0 5px">
                        <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_image_48px.svg" class="md-accent" ng-show="checkboxvalue.i != '' && checkboxvalue.c"></md-icon>
                    </div>
                    <md-menu-content>
                        <div  class="UpPicture" style="background-image: url('{{checkboxvalue.i}}')" />
                    </md-menu-content>

                    </md-menu>

                    <md-icon ng-show="checkboxvalue.c"  md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_camera_48px.svg" class="md-accent" ng-click="initCameraAction(checkboxvalue)" aria-label="capture photo" flex="10"></md-icon>
-->
                  <div  ng-if="itemVal.type == 'image'" layout="row" layout-align="start center">

                    <md-menu  flex="10" style="text-align:center;" ng-if="itemVal.content.length != 0">
                    <div ng-click="$mdOpenMenu()" style="padding:0 5px">
                        <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_image_48px.svg" class="md-accent" ></md-icon>
                    </div>
                    <md-menu-content>
                       <md-content style="max-height:480px;  overflow-y:scroll;">
                       <md-card ng-repeat="pageImage in itemVal.content" style="position:relative;" layout="column" layout-align="center end">
                       <div ng-click="removeIMG(pageImage, itemVal.content)" class="cancelIMG" flex="">
                           <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_clear_48px.svg" class="" ></md-icon>
                       </div>
                        <div  class="UpPicture" style="background-image: url('{{pageImage.i}}'); background-color:black" />
                        </md-card>
                        </md-content>
                    </md-menu-content>
                    </md-menu>

                    <md-button class="cameraButton md-accent" aria-label="Photos" ng-click="capturePagePhoto(listValue, itemVal)">
                        <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_camera_48px.svg"></md-icon> Add Photo
                    </md-button>

                        </div>
                    </div>
                    </div>
                </md-card-content>
            </md-card>
        </md-content>
        <div class="footerSpace"></div>
    </section>


</div>

                   <div class="mainButton">
                   <div class="buttonBox">
                    <div class="fab_add_expand" ng-show="show_add_icons">
                        <a ng-href="#item" ng-click="toggleAdd()">
                        <span class="fab_add_label">Item</span>
                        <md-button class="md-fab md-hue-1 fab_add_button" aria-label="Add Item">
                            <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon>
                        </md-button>
                        </a>

                        <a ng-href="#page" ng-click="toggleAdd()">
                        <span class="fab_add_label">Page</span>
                        <md-button class="md-fab md-hue-2 fab_add_button" aria-label="Add Page">
                            <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon>
                        </md-button>
                        </a>

                        <a ng-href="#section" ng-click="toggleAdd()">
                        <span class="fab_add_label">Section</span>
                        <md-button class="md-fab md-hue-3 fab_add_button" aria-label="Add Section">
                            <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon>
                        </md-button>
                        </a>

                        <a ng-href="#image" ng-click="toggleAdd()">
                        <span class="fab_add_label">Image</span>
                        <md-button class="md-fab fab_add_button md-primary"  aria-label="Add Image">
                           <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_camera_48px.svg" style="color:white" layout="row" layout-align="center center"></md-icon>
                        </md-button>
                        </a>
                    </div>

                    <md-button class="md-fab md-primary"  ng-click="toggleAdd()" aria-label="stuff">
                       <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon>
                    </md-button>
                    </div>
                    </div>
