<div ng-controller="createController" flex="" layout="row" class="page" id="nav">

    <md-content >
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 ng-isolate-scope md-locked-open subNavLeft" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-swipe-left="close()">
            <!--subNavLeft-->
            <div class="padMe">
            <md-toolbar class="md-theme-indigo" ng-click="close()">
                <h2 class="md-toolbar-tools md-title">{{currentPage}}</h2>
            </md-toolbar>

                <md-list class="subMenu">

                    <md-list-item ng-repeat="(sectionkey, section) in notSorted(report)" role="listitem" class="md-proxy-focus md-ink-ripple " style="position:relative; margin-left: 20px">

                        <md-button class="md-secondary menuButton" ng-click="navigatePage(section)" aria-label="{{section}}">{{section}}</md-button>
                    </md-list-item>

                </md-list>
            </div>
        </md-sidenav>
    </md-content>

    <section flex="" layout="column" md-swipe-right="toggleLeft()" md-scroll-y style="position:relative">
        <md-content id="testAgain">
            <md-card ng-repeat="(pagekey, pagetitle) in notSorted(report[currentPage])" class="md-whiteframe-z1 subPageStyle" ng-init="page = report[currentPage][pagetitle]">
                <!--<md-card>-->
                <md-card-content style="position:relative">
                    <md-subheader ng-click="toggleLeft()" class="subHeader md-primary" style="cursor:pointer;">{{currentPage}}
                        <md-icon md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_chevron_right_48px.svg" class="headNavIcon"></md-icon>{{pagetitle}}
                    </md-subheader>

                    <div ng-repeat="(listKey, listValue) in notSorted(page)" ng-init="itemVal = report[currentPage][pagetitle][listValue]">

<!--                       CLIENT INFO-->
                        <div ng-if="itemVal.type == 'clientinfo'">
                            <md-divider></md-divider>
                            <h3 class="md-headline">Client Info</h3>
                            <div layout="row" layout-sm="column">

                                <div layout="" layout-sm="column">
                                    <md-input-container flex="">
                                        <label>First name</label>
                                        <input ng-model="page.input.firstName">
                                    </md-input-container>
                                    <md-input-container flex="">
                                        <label>Last Name</label>
                                        <input ng-model="page.input.lastName">
                                    </md-input-container>
                                </div>
                            </div>
                            <md-input-container flex="">
                                <label>Address</label>
                                <input ng-model="page.input.address">
                            </md-input-container>

                            <md-input-container md-no-float="">
                                <label>Address 2</label>
                                <input ng-model="page.input.addressTwo">
                            </md-input-container>

                            <div layout="" layout-sm="column">
                                <md-input-container flex="">
                                    <label>City</label>
                                    <input ng-model="page.input.city">
                                </md-input-container>
                                <md-input-container flex="">
                                    <label>State</label>
                                    <input ng-model="page.input.state">
                                </md-input-container>
                                <md-input-container flex="">
                                    <label>Postal Code</label>
                                    <input ng-model="page.input.postalCode">
                                </md-input-container>
                            </div>
                        </div>

                        <div layout="column" layout-fill="" layout-align="top center">

<!--                           PRE-SET TEXT-->
                            <div ng-if="itemVal.type == 'presettext'">
                                    <div class="relFlex">
                                        <md-switch ng-model="itemVal.showcontent" aria-label="Show listValue" class="firstPosition md-body-1">Show {{listValue}} Message </md-switch>
                                        <div flex></div>
                                        <md-icon md-svg-icon="./bower_components/material-design-icons/communication/svg/design/ic_message_48px.svg" class="md-accent" ng-click="showMessage($event, listValue, itemVal.content)" flex="10"></md-icon>
                                    </div>
                            </div>

<!--                           CHECKBOX-->
                            <div ng-if="itemVal.type == 'checkbox'">
                                <md-divider></md-divider>
                                <h3 class="md-headline">{{listValue}}:</h3>

                                <div ng-repeat="(checkboxkey, checkboxval) in notSorted(itemVal.value)" ng-init="checkboxvalue = itemVal.value[checkboxval]"  layout="row" class="list_item" style="position:relative" >

                       <span md-ink-ripple class="md-body-1" md-proxy-focus style="margin:0" >
                           <md-checkbox class="md-secondary checkboxery" ng-model="checkboxvalue.c"  md-no-ink style="position:relative; display:inline" >{{checkboxval}}
                            </md-checkbox>
                       </span>
                                    <div flex=""></div>

                                    <md-menu  flex="10" style="text-align:center;" >
                                    <div ng-click="$mdOpenMenu()" style="padding:0 5px">
                                    <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_image_48px.svg" class="md-accent" ng-show="checkboxvalue.i != '' && checkboxvalue.i !== undefined"></md-icon>
                                    </div>
                                    <md-menu-content>
                                        <div  class="UpPicture" style="background-image: url('{{checkboxvalue.i}}')" />
                                    </md-menu-content>

                                    </md-menu>
<!--report[currentPage][pagetitle][listValue].value[checkboxval].i-->
                              <md-icon ng-show="checkboxvalue.c"  md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_camera_48px.svg" class="md-accent" ng-click="initCameraAction(currentPage, pagetitle, listValue, checkboxval)" aria-label="capture photo" flex="10"></md-icon>

                                </div>
                            </div>

<!--                            RADIO-->
                            <div ng-if="itemVal.type == 'radio'">
                                <md-divider></md-divider>
                                <h3 class="md-headline">{{listValue}}:</h3>
                                <md-radio-group ng-model="itemVal.value">
                                    <md-radio-button ng-repeat="(radiokey, radiovalue) in notSorted(itemVal.content)" ng-init="radioval = itemVal.content[radiovalue]" ng-value="radioval">{{radioval}}</md-radio-button>
                                </md-radio-group>
                            </div>

<!--                           NUMBER-->
                            <div ng-if="itemVal.type == 'number'">

                                <md-divider></md-divider>
                                <h3 class="md-headline">{{listValue}}:</h3>
                                <md-input-container>
                                    <label>{{itemVal.label}}</label>
                                    <input ng-model="itemVal.value" type="number">
                                </md-input-container>
                            </div>

                        </div>
                    </div>

                    <md-button class="cameraButton md-accent" aria-label="Photos" ng-click="capturePhoto()">
                        <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_camera_48px.svg"></md-icon> Add Photo
                    </md-button>

<!--
                    <md-button class="cameraButton md-accent" aria-label="Photos" ng-click="capturePhoto()">
                        <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_image_48px.svg"></md-icon> View Photo
                    </md-button>
-->

<!--                    <div ng-repeat="image in images">{{image}}</div>-->

<!--                    <img ng-src="./img/icon.png" id="smallImage" style="max-height: 300px" data-rotate="90" />-->



                    <a ng-click="scrollToTop()">TOP</a>
                    <div ng-if="$last" class="footerSpace"></div>


                </md-card-content>
            </md-card>
        </md-content>
    </section>


</div>
