<div flex="" layout="row" class="page" id="nav">

   <!--
                <div ng-repeat="remark in rapidRemarks[remarkKey].content | orderBy:$index:reverse=true">
                    <h3>{{remark.title}}</h3>
                    <p>{{remark.value}}</p>
                </div>
-->

    <section flex layout="column" style="position:relative" id="render_me">
        <md-content id="testAgain" style="padding:15px;">

           <div style="position:relative" >
               <div ng-repeat="remarkSection in rapidRemarks" >
                  <div ng-if="remarkSection.showValue">
                       <h2>{{remarkSection.title}}</h2>
                       <div ng-repeat="remark in remarkSection.content | filter:{showValue:true}">
                            <h3> {{remark.title}}</h3>
                            <p>{{remark.value}}</p>
                       </div>
                   </div>
               </div>


<!--

                   <div ng-repeat="section in report.sections" >
                       <div ng-repeat="page in section.pages" >
                         <div ng-repeat="item in page.items" >
                          <ol>

                             <h2>{{rapidRemarks[subItem.rrTitle]}}</h2>
                             <div ng-if="item.type == 'radio' || item.type == 'checkbox'">
                                   <li ng-repeat="subItem in item.content" >{{rapidRemarks[subItem.rrTitle].content[subItem.rrVal]}}</li>
                             </div>
                          </ol>
                          </div>
                       </div>
                   </div>
-->
           </div>

            <div ng-repeat="page in report.sections[0].pages" class="subPageStyle">
                <div style="position:relative">
                    <div layout="row" layout-align="space-between end">
                        <div>
                            <h2 class="md-display-1" style="cursor:pointer;">
                                {{currentSection.title}}
                                <md-icon md-svg-icon="chevron_right" class="headNavIcon"></md-icon>
                                {{page.title}}
                            </h2>
                            <h4 class="md-caption" >{{clientInfo.value.address}}, {{clientInfo.value.city}},{{clientInfo.value.state}} {{clientInfo.value.postalCode}}</h4>
                        </div>
                        <div style="text-align:right">
                            <h4 class="md-caption">Report ID: {{reportId.value}}</h4>
                            <h4 class="md-caption">{{clientDate.value | date}}</h4>
                        </div>
                    </div>
                    <div ng-repeat="item in page.items">
                        <div layout="column" layout-fill="" layout-align="top center">

                            <!--                           PRE-SET TEXT-->
                            <div ng-if="item.type == 'presettext'">
                                <h2 class="md-headline">Inspection {{item.title}}</h2>
                                <md-divider></md-divider>
                                <p class="md-body-1">{{item.content}}</p>
                            </div>


                            <!--                           CHECKBOX-->
                            <div ng-if="item.type == 'checkbox'">
                                <h3 class="md-headline">{{item.title}}:</h3>
                                <div class="flex flex-wrap" style="display:flex; flex-wrap:wrap;">
                                   <div ng-repeat="checkbox in item.content" class="list_item" flex="50">
                                        <md-checkbox class="md-secondary checkboxery" ng-model="checkbox.c" md-no-ink style="position:relative; display:inline">{{checkbox.title}}
                                        </md-checkbox>
                                    </div>
                                </div>
                                 <div ng-init="checkboxImages = getAllItemImages(item.content)" class="flex-wrap" style="display:flex; flex-wrap:wrap;" >
                                   <div ng-repeat="imageItem in checkboxImages track by $index" flex="50">
                                     <div class="UpPicture" style="background-image: url('{{imageItem.i}}')" >
                                        <div class="md-caption pictureBox"></div>
                                        <div class="centerTextVertical">
                                            <span class="md-caption imageTitle">{{item.title}}: {{imageItem.title}}</span>
                                        </div>
                                     </div>
                                   </div>
                                </div>
                            </div>

                            <!--                           NUMBER-->
                            <div ng-if="item.type == 'number'">
                                <h3 class="md-headline">{{item.title}}:</h3>
                                <p class="md-body-1">{{item.value}}</p>
                            </div>

                            <!--                           RADIO-->
                            <div ng-if="item.type == 'radio'">
                                <h3 class="md-headline" >{{item.title}}:</h3>
                                <div>
                                    {{item.value}}
                                </div>
                            </div>

                            <!--                           SELECT-->
                            <div ng-if="item.type == 'select'" >
                                <h3 class="md-headline" >{{item.title}}:</h3>
                                <div>
                                    {{item.value}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </section>
</div>





