
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
}

/*footer a {
    display: block;
    width: 18%;
    text-decoration: none;
    color: rgb(0,188,212);
}*/

/*
.fab_add_expand * {
    font-size: 14pt !important;
}
*/

.fab_add_expand {
    height: 258px !important;
    width: 130px !important;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    padding-top: 5px;
    padding-bottom: 30px;

    margin-right: 15px !important;
    /*
    margin-left: 127px !important;
    */
    
    position: relative;
    background-color: white;
    border-radius: 5px;
    opacity: .9;
    transition: transform .3s ease-in-out;
}


.fab_add_expand.ng-hide {
    transform: translate3d(0px, 600px, 0px);
}


a {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
}


footer a:hover {
    text-decoration: none;
}


footer {
    width: 60px;
}


footer i {
    width: 100%;
}

footer .container {
    width: 100%;
    max-width: 600px;
    min-width: 380px;
}


.ng-view-window {
    position: fixed;
    top: 64px;
    height: 100%;
    width: 100%;
}

.market_frame {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.page_header {
    font-weight: 100;
    font-size: 25px;
    text-align: left;
    margin: 0 0 0 15px;
}

.profile_picture {
    height:45px;
    width: 45px;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    border: none;
}

.md-button .fa {
    font-size: 25px;
    padding: 5px;
}

.md-fab {
    margin: 20px;
    float: right;
}

.main_menu {
    padding: 10px;
    opacity: .95;
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    
    z-index: 10;
}

.md-3-line .fa {
    display: inline-block;
    font-size: 25px;
    padding: 10px;
}

.md-list-item-text {
    display: inline-block;
}

.nav_button {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}

.fab_add_label {
    padding: 2px;
    display: block;
    float: left;
    width: 50%;
    margin: 15px 5px;
    text-align: right;
    color: #333;
    font-weight: 200;
}

.fab_add_button {
    margin: 5px 0;
    display: block;
    float: none;
}

.add_item_top {
    background-color: #EEE;
    padding: 10px;
    height: 300px;
}

#smallImage {
    padding-top: 5px;
}

#menuFavicon {
    display: block;
    height:45px;
    width:45px;
    min-height:45px;
    margin: 10px auto;
    text-align: center;

}

