<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

<!--        <script type="text/javascript" src="../platforms/android/assets/www/cordova.js"></script>-->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/bootstrap/js/dropdown.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-material/angular-material.js">
            </script>

        <!-- Application Scripts -->
        <script src="js/index.js"></script>
        <script src="js/reportTemplate.js"></script>
        <script src="js/createController.js"></script>
        <script src="js/savedController.js"></script>
        <script src="js/accountController.js"></script>
       
        <!-- Stylesheets -->
        <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="bower_components/angular-material/angular-material.css"/>
        <link type="text/css" rel="stylesheet" href="default.css" />
        <link type="text/css" rel="stylesheet" href="css/index.css" />


        <title>Inspector App</title>
    </head>
    <body>
        <div ng-app="fbiApp">

            <div ng-controller="indexController">
<!--               mainHeaderBar-->
                <header class="">
                    <md-toolbar>
                      <div class="md-toolbar-tools">
                        <md-button class="md-icon-button" aria-label="Navigation" ng-click="toggleNavigation()" ng-model-options="{ debounce: 1000 }">
                                                 <md-icon md-svg-icon="./bower_components/material-design-icons/navigation/svg/design/ic_menu_48px.svg"></md-icon>
                        </md-button>
                        <h2 class="page_header">
                          <span>{{service.currentPage.title}}</span>
                        </h2>
                        <span flex></span>
                        <md-button ng-href="#account" aria-label="Account" ><img class="profile_picture" style="background-image: url(img/rod.png)" /></md-button>
                      </div>
                    </md-toolbar>
                </header>
                

                <md-sidenav class="md-sidenav-left md-whiteframe-z2 main_menu" md-component-id="main"  md-swipe-left="toggleNavigation()" style="z-index:70">
                    <md-content style="height: 100%;">
                        <img id="menuFavicon" src="img/icon.png" /><br />
                        <md-list flex="">
                             <a href="{{page.link}}" ng-repeat="page in navigationPages"  flex="" ng-click="toggleNavigation()" class="md-headline">
                          <md-list-item flex="" class="listItem " >
                              <div md-ink-ripple="" >
                                <md-icon md-svg-icon="{{page.icon}}" class="marginRight"></md-icon>
                                <h2 class="listHead md-headline" >{{page.title}}</h2>
                              </div>
                          </md-list-item>
<!--                              <md-divider ng-if="!$last"></md-divider>-->
                          </a>

                        </md-list>
                        <md-button class="nav_button md-raised md-primary" ng-href="#account" ng-click="toggleNavigation()" arial-label="Sign in">Sign in</md-button>
                    </md-content>
                </md-sidenav>
                
                         <div ng-view class="console-content" id="scrollArea" autoscroll="true" style="position: fixed; top: 64px; height: 100%; width: 100%;"></div>

                         
<!--              view-window-->
                <footer>

                    <div class="fab_add_expand" ng-show="show_add_icons">
                        <a ng-href="#item" ng-click="toggleAdd()">
                        <span class="fab_add_label">Item</span>
                        <md-button class="md-fab md-hue-1 fab_add_button" aria-label="Add Item">
                                                   <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon>
                        </md-button>
                        </a>
                        
                        <a ng-href="#page" ng-click="toggleAdd()">
                        <span class="fab_add_label">Page</span>
                        <md-button class="md-fab md-hue-2 fab_add_button" aria-label="Add Page">
                                                   <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon>
                        </md-button>
                        </a>
                        
                        <a ng-href="#section" ng-click="toggleAdd()">
                        <span class="fab_add_label">Section</span>
                        <md-button class="md-fab md-hue-3 fab_add_button" aria-label="Add Section">
                                                   <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon>
                        </md-button>
                        </a>

                        <a ng-href="#image" ng-click="toggleAdd()">
                        <span class="fab_add_label">Image</span>
                        <md-button class="md-fab fab_add_button md-primary"  aria-label="Add Image">
                                                   <md-icon md-svg-icon="./bower_components/material-design-icons/image/svg/design/ic_camera_48px.svg" style="color:white" layout="row" layout-align="center center"></md-icon>
                        </md-button>
                        </a>
                    </div>
                    
                    <md-button class="md-fab md-primary" ng-click="toggleAdd()" aria-label="stuff">

                       <md-icon md-svg-icon="./bower_components/material-design-icons/content/svg/design/ic_add_48px.svg"></md-icon>
                    </md-button>
                </footer>
            </div>
        </div>
    </body>
</html>
