<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, 
                                       maximum-scale=1, minimum-scale=1, width=device-width, 
                                       height=device-height" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel='icon' href='./img/favicon.png' />

<!--    <script type="text/javascript" src="cordova.js"></script>-->
        <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="bower_components/jquery-ui/jquery-ui.js"></script>
        <script type="text/javascript" src="js/jquery.ui.touch-punch.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-sortable/sortable.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        
        <!-- Application Scripts -->
        <script src="js/rapidRemarks.js"></script>
        <script src="js/index.js"></script>
<!--        <script src="js/reportTemplate.js"></script>-->
        <script src="js/createController.js"></script>
        <script src="js/connectService.js"></script>
        <script src="js/pageController.js"></script>
        <script src="js/savedController.js"></script>
        <script src="js/accountController.js"></script>
        <script src="js/generateController.js"></script>
        <script src="js/templateController.js"></script>
        <script src="js/itemController.js"></script>
        <script src="js/inspectionController.js"></script>
        <script src="js/photoAppendixController.js"></script>
        <script src="js/castleTemplate.json"></script>
        
        <!-- Stylesheets -->
<!--    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />-->
<!--    <link type="text/css" rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link type="text/css" rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <link type="text/css" rel="stylesheet" href="css/index.css" />
        
        <!-- PDF Generation -->
<!--        <script src="bower_components/html2canvas/build/html2canvas.js"></script>-->
<!--        <script src="bower_components/jspdf/dist/jspdf.debug.js"></script>-->
            
        <title>Castle</title>
    </head>
    <body ng-app="castleApp" style="height:100%" class="md-body-1">
        <div style="height:100%; width:100% position:relative" 
             ng-controller="indexController"  
             layout="row">
                <md-sidenav class="md-sidenav-left lSideNav" 
                            md-component-id="main"  
                            md-swipe-left="toggleNavigation()">
                <md-toolbar class="md-tall castleBackground">
                <div class="md-toolbar-tools" >
                    <img id="menuFavicon" src="img/icon.png" />
                </div>
                </md-toolbar>
                    <md-content flex layout="column">
                        <br />
                        <md-list flex>
                        <a ui-sref="{{page.link}}" 
                           ng-click="toggleNavigation()" 
                           ng-repeat="page in navigationPages" 
                           flex="">
                              <md-list-item>
                                  <div md-ink-ripple="" >
                                    <md-icon md-svg-icon="{{page.icon}}" 
                                             class="marginRight"></md-icon>
                                    <h2 class="listHead navList">{{page.title}}</h2>
                                  </div>
                              </md-list-item>
                          </a>
                        </md-list>
                    </md-content>
                </md-sidenav>
               <div layout="column" flex="" 
                    style="background-color:#fafafa">
                    <md-toolbar class="shady" 
                                ng-style="{'background-color':castleService.currentPage.color}">
                        <div class="md-toolbar-tools" 
                             ng-if="!castleService.assignPhotoMode" 
                             layout="row" layout-align="center center"
                             flex>
                            <md-button class="md-icon-button" 
                                       aria-label="Navigation" 
                                       ng-click="menuNavigation()">
                                 <md-icon md-svg-icon="{{castleService.currentPage.icon}}" ></md-icon>
                            </md-button>
                            <h2 class="page_header">
                              <span>{{castleService.currentPage.title}}</span>
                            </h2>
                            <span flex></span>
<!--
                            <a ui-sref="account" aria-label="Account" 
                               style="border:none" 
                               ng-if="castleService.io.user && castleService.currentPage.showAccount">
                                  <div class="profileWrapper" >
                                      <div class="profile_picture" 
                                           style="background-image: 
                                           url({{castleService.io.user.password.profileImageURL}});"></div>
                                  </div>
                                  <md-icon ng-if="castleService.io.user == null"  
                                             md-svg-icon="account_circle" 
                                             class="profile_picture"></md-icon>
                            </a>
-->

                             <md-button ng-show="castleService.assignPhotoMode" 
                                        ng-click="castleService.cancelAssignPhotoMode()" 
                                        class="md-icon-button" aria-label="cancel assign photo" >
                                    <md-icon md-svg-icon="close"></md-icon>
                             </md-button>
                             <md-button ng-show="castleService.currentPage.showEditMode"
                                          aria-label="toggle edit mode" 
                                          class="md-icon-button"
                                          ng-click="toggleEditMode()">
                                          <md-icon md-svg-icon="mode_edit"></md-icon>
                             </md-button>
                        </div>
                        <div class="md-toolbar-tools" layout="row" layout-align="center center"
                             style="background-color:#555" ng-if="castleService.assignPhotoMode" flex>
                            <md-button ng-if="!castleService.currentPage.toggleNavMenu" 
                                       class="md-icon-button" aria-label="Navigation" 
                                       ng-click="menuNavigation()">
                                 <md-icon md-svg-icon="{{castleService.currentPage.icon}}" ></md-icon>
                            </md-button>
                             <h2 class="page_header">
                                <span>Assign photo</span>
                             </h2>
                             <span flex></span>
                             <md-button  ng-click="castleService.cancelAssignPhotoMode()" 
                                         class="md-icon-button" aria-label="cancel assign photo" >
                                    <md-icon md-svg-icon="close"></md-icon>
                             </md-button>
                        </div>
                    </md-toolbar>
                   <md-content class="console-content ui-view" id="scrollArea" ></md-content>
                    <div class="centerButtonMenu" ng-if="castleService.editMode">
                        <md-button class="md-fab" 
                                   style="background-color:#555; "
                                   aria-label="capture photo"
                                   ng-click="toggleEditMode(false);">
                            <md-icon md-svg-icon="close" ></md-icon>

                        </md-button>
                    </div> 
            </div>
        </div>
        
        <!-- Firebase       -->
        <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyAaN78coVv04Nnx2V3jWGHB3oarf1AX74s",
            authDomain: "castle-a3a5d.firebaseapp.com",
            databaseURL: "https://castle-a3a5d.firebaseio.com",
            storageBucket: "castle-a3a5d.appspot.com",
            messagingSenderId: "810535030274"
          };
          firebase.initializeApp(config);
        </script>
    </body>
</html>
