<link type="text/css" rel="stylesheet" href="./dialogs/camera/camera_preview.css" />
<link type="text/css" rel="stylesheet" href="./pages/templates/templates.css" />
<div class="page">
    
<div style="width:100%; height: 50px; background-color: white; color: darkgrey; " layout="row" layout-align="start center">
        <md-button style="min-width:20px; text-transform: none" class="md-caption" ng-click="navigate(insId)">Sec</md-button>
        <div>/</div>
        <md-button style="min-width:20px; text-transform: none" class="md-caption" ng-click="navigate(insId, sectionIndex)">Sub</md-button>
        <div>/</div>
        <md-button style="min-width:20px; text-transform: none" class="md-caption" ng-click="navigate(insId, sectionIndex, subsectionIndex)">Qns</md-button>
        <div>/</div>
        <md-button style="min-width:20px; text-transform: none; font-weight: 600;" class="md-caption md-accent">Qn</md-button>
    <div flex=""></div>
</div>
<md-divider></md-divider>    
    <div class="pagePadding">
        <div style="padding: 16px;" class="md-title">
             Create a Question and/or set its default values.
        </div>
        <md-card>
            <md-card-content>
        <md-select ng-model="question.type" 
                   placeholder="Choose a Question Type" 
                   class="md-no-underline"
                   ng-required="true"
                   ng-disabled="question.notApplicable"
                   md-on-close="changeType()"
                   md-on-open="openType()"
                   aria-label="select question type">
            <md-option ng-repeat="qType in questionTypes" ng-value="qType.key">{{qType.key}}
            </md-option>
        </md-select>
        <div layout="row">
            <div flex=""></div>
            <md-switch md-invert 
                       ng-model="question.notApplicable"
                       style="color:rgba(0,0,0,0.87);">
            Not Applicable
            </md-switch>
        </div>
        <md-input-container class="md-block md-title" style="margin-top: 14px;">
          <label>Title</label>
          <input ng-model="question.title" />
        </md-input-container>
        
        <md-input-container class="md-block" style="margin-top: 14px;">
          <label>Description</label>
          <textarea ng-disabled="question.notApplicable" 
                       ng-model="question.description"
                       class="editInput md-caption"
                       style="background-color:inherit;"
                       md-minlength='question.validation.min' 
                       md-maxlength='question.validation.max'
                    rows="1"></textarea>
        </md-input-container>
            
    <form name="questionForm" style="padding-left: 0px;"  
          ng-class="question.notApplicable ? 'disabled' : ''">
        <div ng-if="question.type == 'checkbox'" id="sortParent">
            <div ng-repeat="checkBox in question.values track by $index" class="questionIndent">
                <div layout="row" layout-align="start center">
                <md-button class="md-icon-button" style="margin-bottom: 16px;" 
                           aria-label="delete answer"
                           ng-click="remove($index, question.values)"
                           >
                    <md-icon md-svg-src="cancel"></md-icon>
                </md-button>
                <md-checkbox ng-checked="exists(checkBox.key, question.answers)" 
                             ng-click="toggle(checkBox.key, question.answers)"
                             ng-disabled="question.notApplicable"
                             aria-label="checkbox">
                </md-checkbox>
                <md-input-container class="md-block">
                <input type="text" 
                           ng-disabled="false" 
                           ng-model="checkBox.key"
                           class="editInput"
                           style="background-color:inherit;"
                           aria-label="{{checkbox.key}}"
                           />
                </md-input-container>
                </div>
            </div>
<!--
            <div>
                <md-checkbox ng-model="newCheckBoxKey" 
                             ng-click="toggle(otherValue.value, question.answers, true)">
                    Other:
                </md-checkbox>
                <input  ng-show="newCheckBoxKey"
                        ng-model="otherValue.value" 
                        type="text" 
                        class="inlineInput">
            </div>
-->
            <md-button class="md-accent md-raised" aria-label="add checkbox" ng-click="add(question.values, '')">
                Add Checkbox
            </md-button>
        </div>
        
        <div ng-if="question.type == 'radio' || question.type == 'dropdown'" 
             id="sortParent">
            <md-radio-group ng-model="question.answer"
                            ng-required="question.validation.isRequired"
                            ng-disabled="question.notApplicable" >
                <div 
                     ui-sortable="sortOptions"   
                     ng-model="question.values">
                <div layout="row" 
                     layout-align="start center" 
                     ng-repeat="radioButton in question.values" >
<!--
                    <div class="handle">
                        <md-icon md-svg-icon="drag_handle" ></md-icon>
                    </div>
-->
                <md-button class="md-icon-button" 
                           aria-label="delete answer"
                           ng-click="remove($index, question.values)">
                    <md-icon md-svg-src="cancel"></md-icon>
                </md-button>
                <md-radio-button style="margin: 0"
                                 class="questionIndent" 
                                 aria-label="radio option"
                                 ng-value="radioButton.key">{{radioButton.key}}
                </md-radio-button>
                </div>
               </div>
            </md-radio-group>
            <div layout="row" layout-align="start center">
             <md-button class="md-accent md-raised" 
                        aria-label="add radio button" 
                        ng-click="addRadio()"
                        ng-disabled="newRadioVal.value == null">
                Add Radio
             </md-button>
             <div style="margin-left: 8px;">
                <input ng-model="newRadioVal.value" 
                       type="text"
                       aria-label="radio button"
                       class="inlineInput">
             </div>
            </div>
        </div>
<!--
        <div ng-if="question.type == 'dropdown'">
            <md-select ng-model="question.answer" 
                       placeholder="Choose" 
                       class="md-no-underline"
                       ng-required="question.validation.isRequired"
                       ng-disabled="question.notApplicable">
                <md-option ng-repeat="selectOption in question.values" ng-value="selectOption.key">{{selectOption.key}}
                </md-option>
            </md-select>
        </div>
-->
        <div ng-if="question.type == 'text'">
            <md-input-container>
                <label>Your Answer</label>
                <input ng-model="question.answer" 
                       type="{{question.validation ? question.validation.type : 'text'}}" 
                       md-minlength='question.validation.min' 
                       md-maxlength='question.validation.max'
                       md-select-on-focus
                       ng-required="question.validation.isRequired"
                       ng-disabled="question.notApplicable"
                       name="shortText"
                       >
                <div ng-messages="questionForm.shortText.$error" 
                     ng-show="questionForm.shortText.$dirty">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="md-minlength">That's too short!</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
            
            <md-switch ng-model="question.validation.isRequired" aria-label="is required switch">
                Is Required
            </md-switch>
            
            <md-select ng-model="question.validation.type" 
                       placeholder="Add Validation" 
                       class="md-no-underline"
                       ng-disabled="question.notApplicable"
                       aria-label="select question type">
                <md-option ng-repeat="validationType in [{'title':'None','value':''},{'title':'Number','value':'number'},{'title':'Date','value':'date'},{'title':'Text','value':'text'}]" ng-value="validationType.value">{{validationType.title}}
                </md-option>
            </md-select>
            <div ng-show="question.validation.type && question.validation.type != 'date'">
            <md-input-container>
            <label>max value</label>
            <input type="text" 
                       ng-disabled="false" 
                       ng-model="question.validation.max"
                       aria-label="add max value"
                       />
            </md-input-container>
            
            <md-input-container>
            <label>min value</label>
            <input type="text" 
                       ng-disabled="false" 
                       ng-model="question.validation.min"
                       aria-label="add min value"
                       />
            </md-input-container>
            </div>
        </div>
        <div ng-if="question.type == 'textarea'">
            <md-input-container class="md-block" >
                <label>Your Answer</label>
                <textarea ng-model="question.answer" 
                          md-minlength="question.validation.min" 
                          md-maxlength="question.validation.max" 
                          md-select-on-focus
                          ng-required="question.validation.isRequired"
                          ng-disabled="question.notApplicable"
                          name="testArea"></textarea>
                <div ng-messages="questionForm.testArea.$error" 
                     ng-show="questionForm.testArea.$dirty">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="md-minlength">That's too short!</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
        </div>
        <div ng-if="question.type == 'photo'">
            <div ng-show="question.photos.length <= 0">
                No Photos Yet!
            </div>

            <div layout="row" layout-align="start center" layout-wrap>
            <div ng-repeat="photo in question.photos"
                 class="photo md-whiteframe-1dp"
                 
                 style="background-image: url( {{photo.link}} ); margin: 10px;" 
                 ng-click="showFullScreen($event, photo)">
            </div>
            </div>
          </div>
        <div ng-if="question.type !== 'photo'" ng-repeat="photo in question.photos"
             class="photo md-whiteframe-1dp"

             style="background-image: url( {{photo.link}} ); margin: 10px;" 
             ng-click="showFullScreen($event, photo)">
        </div>
         <md-button class="md-accent md-raised"
                   ng-disabled="question.notApplicable"
                   ng-click="addPhotos()">  
            Add Photos
        </md-button>

    </form>
            </md-card-content>
        </md-card>
        <md-card>
            <md-card-content>
        <div style="margin: 8px 0px 0px 0px;">
            <div class="md-title">Summary Remarks</div>
            <div class="md-caption" style="margin: 4px 0 4px 0;" >Summary Remarks are appended to the Summary Section</div>
            <div layout="row" layout-wrap>
                <div class="md-caption"></div>
                <div ng-repeat="fabButton in severityList" 
                     class="buttonWrapper"
                     layout="column" layout-align="center center">
                    <md-button class="md-fab md-mini" 
                               ng-class="question.severity == fabButton.title ? 'md-accent selectedBtn' : 'md-raised'"
                               aria-label="fabButton.title"
                               ng-click="setSeverity(fabButton.title)"
                               ng-disabled="question.notApplicable">
                        <md-icon md-svg-icon="{{fabButton.icon}}"></md-icon>
                    </md-button>
                    <div class="label">{{fabButton.title}}</div>
                </div>
            </div>
            <div>
            <md-switch ng-model="question.showSummaryRemark"
                       ng-disabled="question.notApplicable"
                       >
            Include Response
            </md-switch>
            <md-switch ng-model="question.showDescription"
                       ng-disabled="question.notApplicable"
                       >
            Include Description
            </md-switch>
<!--
            <md-switch ng-model="question.showPhotos"
                       ng-disabled="question.notApplicable"
                       >
            Include Photo
            </md-switch>
-->
            </div>
            <md-card>
                <md-card-content>
                    <div ng-if="question.type === 'checkbox' && question.severity 
                                && question.severity !== 'Non-Issue' 
                                && question.showSummaryRemark
                                && question.answers.length > 0"
                                >
                        <div class="md-subhead"><b>{{question.severity}}</b></div>
                        <div ng-repeat="answer in question.answers">
                            {{question.title}}: {{answer}}
                        </div>
                    </div>
                    <div ng-if="question.type !== 'checkbox' 
                                && question.severity 
                                && question.severity !== 'Non-Issue'
                                && question.showSummaryRemark
                                && question.answer" 
                         >
                        <div class="md-subhead"><b>{{question.severity}}</b></div>
                        <div >
                            {{question.title}}: {{question.answer}}
                        </div>
                    </div>
                    <div ng-show="question.showDescription && question.severity && question.severity !== 'Non-Issue'">
                        {{question.description}}
                    </div>
                    <div ng-show="!question.severity || question.severity === 'Non-Issue' || 
                                  (!question.showSummaryRemark && (!question.showDescription || !question.description)) || 
                                  (question.type === 'checkbox' && question.answers.length <= 0)
                                  ||  (question.type !== 'checkbox' && !question.answer)" 
                         class="md-caption" style="color:rgba(0, 0, 0, 0.54);">
                    <i>summary remark preview</i>
                    </div>
                </md-card-content>
            </md-card>
        </div>
            </md-card-content>
        </md-card>
     </div>   
</div>


