<link type="text/css" rel="stylesheet" href="./dialogs/camera/camera_preview.css" />
<link type="text/css" rel="stylesheet" href="./pages/templates/templates.css" />
<div class="page">
    
<div style="width:100%; height: 50px; background-color: white; color: darkgrey; " layout="row" layout-align="start center">
        <md-button style="min-width:20px; text-transform: none" class="md-caption" ng-click="navigate(insId)">Sec</md-button>
        <div>/</div>
        <md-button style="min-width:20px; text-transform: none" class="md-caption" ng-click="navigate(insId, sectionIndex)">Sub</md-button>
        <div>/</div>
        <md-button style="min-width:20px; text-transform: none" class="md-caption" ng-click="navigate(insId, sectionIndex, subsectionIndex)">Qns</md-button>
        <div>/</div>
        <md-button style="min-width:20px; text-transform: none; font-weight: 600;" class="md-caption md-accent">Qn</md-button>
    <div flex=""></div>
</div>
    
    <div class="pagePadding">

        <div layout="row">
            <div flex=""></div>
            <md-switch md-invert 
                       ng-model="question.notApplicable"
                       style="color:rgba(0,0,0,0.87);">
            Not Applicable
            </md-switch>
        </div>
        <div class="md-title">{{question.title}}</div>
        <div class="md-caption description"><span>Description: </span><input type="text" 
                           ng-disabled="false" 
                           ng-model="question.description"
                           class="editInput"
                           style="background-color:inherit;"
                           /></div>
    <form name="questionForm" style="padding-left: 0px;"  ng-class="question.notApplicable ? 'disabled' : ''">
        <div ng-if="question.type == 'checkbox'">
            <div ng-repeat="checkBox in question.values track by $index" class="questionIndent">
                <div>
        <md-button class="md-icon-button" 
                   aria-label="delete section"
                   ng-click="remove($index, question.values)">
            <md-icon md-svg-src="cancel"></md-icon>
        </md-button>
                <md-checkbox ng-checked="exists(checkBox.key, question.answers)" 
                             ng-click="toggle(checkBox.key, question.answers)"
                             ng-disabled="question.notApplicable"
                             aria-label="checkbox">
                </md-checkbox>
                <input type="text" 
                           ng-disabled="false" 
                           ng-model="checkBox.key"
                           class="editInput"
                           style="background-color:inherit;"
                           />
                </div>
            </div>
<!--
            <div>
                <md-checkbox ng-model="newCheckBoxKey" 
                             ng-click="toggle(otherValue.value, question.answers, true)">
                    Other:
                </md-checkbox>
                <input  ng-show="newCheckBoxKey"
                        ng-model="otherValue.value" 
                        type="text" 
                        class="inlineInput">
            </div>
-->
            <md-button class="md-accent md-raised" aria-label="add checkbox" ng-click="add(question.values, '')">
                Add Checkbox
            </md-button>
        </div>
        <div ng-if="question.type == 'radioButton'">
            <md-radio-group ng-model="question.answer"
                            ng-required="question.validation.isRequired"
                            ng-disabled="question.notApplicable">
                <md-radio-button ng-repeat="radioButton in question.values" 
                                 class="questionIndent" 
                                 ng-value="radioButton.key">{{radioButton.key}}
                </md-radio-button>
                <div layout="row" layout="start center">
                <md-radio-button class="questionIndent" 
                                 ng-value="otherValue.singleSelect">Other
                </md-radio-button>
                 <div style="margin-left: 8px;">
                    <input  ng-model="otherValue.singleSelect" 
                            type="text" 
                            class="inlineInput">
                 </div>
                 </div>
            </md-radio-group>
             <md-button class="md-accent md-raised" aria-label="add radio button" ng-click="add(question.values, '')">
                Add Radio
             </md-button>
        </div>
        <div ng-if="question.type == 'selectOption'">
            <md-select ng-model="question.answer" 
                       placeholder="Choose" 
                       class="md-no-underline"
                       ng-required="question.validation.isRequired"
                       ng-disabled="question.notApplicable">
                <md-option ng-repeat="selectOption in question.values" ng-value="selectOption.key">{{selectOption.key}}
                </md-option>
            </md-select>
        </div>
        <div ng-if="question.type == 'shortText'">
            <md-input-container>
                <label>Your Answer</label>
                <input ng-model="question.answer" 
                       type="{{question.validation ? question.validation.type : 'text'}}" 
                       md-minlength='question.validation.min' 
                       md-maxlength='question.validation.max'
                       md-select-on-focus
                       ng-required="question.validation.isRequired"
                       ng-disabled="question.notApplicable"
                       name="shortText"
                       >
                <div ng-messages="questionForm.shortText.$error" 
                     ng-show="questionForm.shortText.$dirty">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="md-minlength">That's too short!</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
        </div>
        <div ng-if="question.type == 'textArea'">
            <md-input-container class="md-block" >
                <label>Your Answer</label>
                <textarea ng-model="question.answer" 
                          md-minlength="question.validation.min" 
                          md-maxlength="question.validation.max" 
                          md-select-on-focus
                          ng-required="question.validation.isRequired"
                          ng-disabled="question.notApplicable"
                          name="testArea"></textarea>
                <div ng-messages="questionForm.testArea.$error" 
                     ng-show="questionForm.testArea.$dirty">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="md-minlength">That's too short!</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
        </div>
        <div ng-if="question.type == 'photo'">
            <div ng-show="question.photos.length <= 0">
                No Photos Yet!
            </div>

            <div layout="row" layout-align="start center" layout-wrap>
            <div ng-repeat="photo in question.photos"
                 class="photo md-whiteframe-1dp"
                 
                 style="background-image: url( {{photo.link}} ); margin: 10px;" 
                 ng-click="showFullScreen($event, photo)">
                </div>
            </div>
                        <md-button class="md-accent md-raised"
                       ng-disabled="question.notApplicable"
                       ng-click="addPhotos()">  
                Add Photos
            </md-button>
        </div>
    </form>
         
        <div style="margin: 8px 0px 0px 0px;">
            <div class="md-title">Summary Remarks</div>
            <div class="md-caption" style="margin: 4px 0 4px 0;" >Summary Remarks are appended to the Summary Section</div>
            <div layout="row" layout-wrap>
                <div class="md-caption"></div>
                <div ng-repeat="fabButton in severityList" 
                     class="buttonWrapper"
                     layout="column" layout-align="center center">
                    <md-button class="md-fab md-mini" 
                               ng-class="question.severity == fabButton.title ? 'md-accent selectedBtn' : 'md-raised'"
                               aria-label="fabButton.title"
                               ng-click="setSeverity(fabButton.title)"
                               ng-disabled="question.notApplicable">
                        <md-icon md-svg-icon="{{fabButton.icon}}"></md-icon>
                    </md-button>
                    <div class="label">{{fabButton.title}}</div>
                </div>
            </div>
            <div>
            <md-switch ng-model="question.showSummaryRemark"
                       ng-disabled="question.notApplicable"
                       >
            Include Response
            </md-switch>
            <md-switch ng-model="question.showDescription"
                       ng-disabled="question.notApplicable"
                       >
            Include Description
            </md-switch>
            </div>
            <md-card>
                <md-card-content>
                    <div ng-if="question.type === 'checkbox' && question.severity 
                                && question.severity !== 'Non-Issue' 
                                && question.showSummaryRemark
                                && question.answers.length > 0"
                                >
                        <div class="md-subhead"><b>{{question.severity}}</b></div>
                        <div ng-repeat="answer in question.answers">
                            {{question.title}}: {{answer}}
                        </div>
                    </div>
                    <div ng-if="question.type !== 'checkbox' 
                                && question.severity 
                                && question.severity !== 'Non-Issue'
                                && question.showSummaryRemark
                                && question.answer" 
                         >
                        <div class="md-subhead"><b>{{question.severity}}</b></div>
                        <div >
                            {{question.title}}: {{question.answer}}
                        </div>
                    </div>
                    <div ng-show="question.showDescription && question.severity && question.severity !== 'Non-Issue'">
                        {{question.description}}
                    </div>
                    <div ng-show="!question.severity || question.severity === 'Non-Issue' || 
                                  (!question.showSummaryRemark && (!question.showDescription || !question.description)) || 
                                  (question.type === 'checkbox' && question.answers.length <= 0)
                                  ||  (question.type !== 'checkbox' && !question.answer)" 
                         class="md-caption" style="color:rgba(0, 0, 0, 0.54);">
                    <i>summary remark preview</i>
                    </div>
                </md-card-content>
            </md-card>
        </div>
     </div>   
</div>


