<link type="text/css" rel="stylesheet" href="pages/templates/templates.css" />
<div class="page">
  <div class="filter-bar" layout="row" layout-align="space-around center">
    <md-input-container>
      <label>Search</label>
      <input ng-model="search">
    </md-input-container>
    <md-input-container>
      <md-select ng-model="sort" placeholder="Sort">
        <md-option ng-value="">None</md-option>
        <md-option ng-value="filter" ng-repeat="filter in sort_filters">{{ filter }}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <md-select ng-model="state" placeholder="Status">
        <md-option ng-value="">None</md-option>
        <md-option ng-value="state" ng-repeat="state in state_filters">{{ state }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <md-card class="template" ng-hide="angular.equals([], reports)" ng-repeat="template in templates">
    <md-card-content layout="row" layout-align="start center">
      <div layout-fill>
        <div layout="row" layout-align="space-between center">
          <span><b>Title:</b> {{}}</span>
          <span><b>Created:</b> {{}}</span>
        </div>
        <div class="preview">
          Some type of preview...
        </div>
        <div layout-fill layout="row" layout-align="end center">
          <md-button class="md-raised" ng-click="edit(template.insId)">Edit</md-button>
          <md-button class="md-raised" ng-click="copy(template.insId)">Copy</md-button>
        </div>
      </div>
    </md-card-content>
  </md-card>
</div>
