<link type="text/css" rel="stylesheet" href="pages/templates/templates.css" />
<div class="page">
  <div class="filter-bar" layout="row" layout-align="space-around center">
    <md-input-container>
      <label>Search</label>
      <input ng-model="search">
    </md-input-container>
    <md-input-container>
      <md-select ng-model="sort" placeholder="Sort">
        <md-option ng-value="">None</md-option>
        <md-option ng-value="filter" ng-repeat="filter in sort_filters">{{ filter }}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container>
      <md-select ng-model="state" placeholder="Status">
        <md-option ng-value="">None</md-option>
        <md-option ng-value="state" ng-repeat="state in state_filters">{{ state }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <md-card class="template" ng-hide="angular.equals([], templates)" ng-repeat="template in templates track by $index">
    <md-card-content layout="row" layout-align="start center">
      <div layout-fill>
        <div>
            <div layout="row">
                <div><b>Title:</b> {{template.insTemplateTitle}}</div>
                <span flex=""></span>
                <md-icon md-svg-src="delete" ng-click="delete($index, templates)"></md-icon>
            </div>
          <div><b>Last Modified:</b> {{template.insLastModified}}</div>
        </div>
        <div layout-fill layout="row" layout-align="end center">
          <md-button class="md-raised" ng-click="edit(template.rowId)">Edit</md-button>
          <md-button class="md-raised" ng-click="copy(template.rowId)">Copy</md-button>
        </div>
      </div>
    </md-card-content>
  </md-card>
  <div style="padding: 8px 0 8px 16px;" ng-show="templates.length <= 0">
      <div class="md-title">No templates yet!</div>
      <div class="md-caption">Add a new template from the plus button below.</div> 
  </div>
</div>
