#view {
  overflow: hidden;
}

.action {
  opacity: .8;
}

.control {
  position: fixed;
  bottom: 10px;
  opacity: .8;
}

.control:active {
  opacity: 1;
}

.tilt {
  transform: rotateZ(-9deg);
  padding-bottom: 60%;
  padding-right: 10%;
}

.loading {
  background-image: url(../../assets/clipboard_background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: cursive;
}

hr {
  border: none;
  border-top: solid 1px #333;
  animation-name: colors;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  height: 0;
  opacity: .75;
}
