#view {
  overflow: hidden;
}

.control {
  position: fixed;
  bottom: 10px;
  opacity: .8;
}

.control:active {
  opacity: 1;
}

.loading {
  animation: pulse .6s infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    opacity: .4;
  }
  100% {
    opacity: .8;
  }
}
