<!DOCTYPE html>
<html>
  <head>
  <script src="../../node_modules/angular/angular.min.js"></script>
  <script src="main.js"></script>
  <script src="images.js"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
      font-family: serif;
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    .page {
      page-break-inside: avoid;
      page-break-after: always;
      position: static;
      height: 99%;
      width: 100%;
    }
    
    .main-color {
      background-color: dodgerblue;
    }
    
    .full-bar {
      text-align: center;
      font-size: 20pt;
      padding: 10px;
      color: white;
      width: 100%;
      margin: 10px 0;
    }
    
    img {
      max-width: 100%;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 5px;
    }
    
    pre {
      font-family: sans-serif;
      font-size: 12pt;
      margin: 20px;
      display: block;
      position: relative;
      word-wrap: break-word;
      white-space: pre-wrap;
      width: calc(100% - 40px);
    }
    
    .page_header h2,
    .page_header h4 {
      display: inline-block;
    }
    
    .subsection {
      margin-left: 25px;
      padding: 10px;
      border-left: solid 5px #333;
      min-height: 100px;
      background-color: #333;
    }
    
    .subsection_title {
      font-size: 18pt;
    }
  </style>
</head>

<body ng-app="fidelity" ng-controller="main">
  <div class="page">
    <div class="main-color full-bar">INSPECTION REPORT</div>
    <div style="text-align: center; font-family: san-serif;">
      <img ng-src="{{images.placeholder}}" style="margin: 10px; width: 50%;" />
      <h3>For the property at:</h3>
      <h1>11151 Blah Point Rd</h1>
      <h3>Kirkland, WA 98034</h3>
      <h3><i>Prepared for:</i> The Man</h3>
      <h3><i>Inspection Date:</i> Saturday, January 4, 2014</h3>
      <h3><i>Prepared by:</i> Rod Beacham, ACI</h3>
    </div>
    <div style="margin-top: 25px; text-align: center; font-family: san-serif;">
      <img ng-src="{{images.fidelity_logo}}" style="margin: 10px; width: 200px;" />
      <p>Fidelity Bulding Inspections
        <br /> 16904 Juanita Dr. NE #123
        <br /> Kenmore, WA 98028
        <br /> 206-467-7328
        <br /> 877-278-5940
        <br /> www.206inspect.com
        <br /> 206inspect@gmail.com
      </p>
    </div>
    <div class="main-color full-bar" style="position: absolute; bottom: 0;">"a great investment deserves a great inspection"</div>
  </div>


  <div class="page">
    <img ng-src="{{images.fidelity_logo}}" style="width: 160px; float: right;" />
    <pre>
1/1/2015
Dear My Good Friend, "The Man",
re: Report No. L.0161
11151 White Shoude Rd.
Kirkland, OH 83749
    </pre>
    <pre>Thank you very much for choosing us to perform your property inspection. The purpose of this inspection is to determine the systems and components used, and their apparent condition. To get started, let's be clear on the scope, limitations, and use of this report.

The inspection company, inspectors, and staff have no personal interest, present or prospective, in this property, in the
parties to the sale or proceeds of the mortgage, and have no identity-of-interest or conflict-of interest with the borrower, seller, lender, realtor, appraiser, plan reviewer, any potential contractors, or subcontractors.

No portion of this property or any specific system or component was inspected for code compliance, or surveyed, appraised, or assessed for boundaries, values, or taxation purposes. The reported portions of this property were inspected ONLY for minimum general acceptability requirements of health and safety in accordance with all applicable state and federal requirements.

The report and the inspection itself comply with the requirements of the Standards of Practice and Code of Ethics of our national association, all applicable state and federal requirements, as well as those of Fidelity Building Inspections, LLC. The “standards” define what is and what is not included in the inspection. We recommend referencing the standards to avoid unrealistic expectations, and to better understand the focus of a property inspection.

The inspection, the report, photographs, and all associated documentation and/or commentary are copyrighted, and may not be used in whole or in part without our express written permission. These have been prepared for the exclusive use of our client. No use by third parties is intended. We will not be responsible to any other parties for the contents of the report.

Visual observations made on a certain day will differ and eventually become obsolete as conditions change. Seasonal variations will also alter the observable conditions of a property. The inspection is a faithful, though limited “snapshot” in time. After immediate repairs have been made, we recommend scheduling regular follow-up home inspections at minimum four-year intervals to discover new indications of potentially progressing concerns in order to keep your investment in top condition.

We are pleased to have been of service to you, and would welcome your referral of friends, associates, or others who could also benefit from our services. Feel free to contact us with any questions, or comments.

Again, thanks for choosing us to perform your inspection. We look forward to working with you in the years ahead.

Sincerely,
Rod Beacham, ACI
on behalf of
Fidelity Building Inspections, LLC</pre>
  </div>


  <div class="page">
    <div style="height: 35px"></div>
    <h2>What a Home Inspection <u>IS</u>:</h2>
    <pre style="font-size: 10.5pt">According to Washington State Home Inspector Licensing Standards of Practice, the purpose of a home inspection is to assess the condition of the residence at the time of the inspection using visual observations, simple tools and normal homeowner operational controls; and to report deficiencies of specific systems and components in compliance with the Standards of Practice, and Ethics set forth by the Washington state department of licensing. This SOP is applicable to buildings with four or fewer dwelling units and their attached garages or carports.</pre>
    <h2>What a Home Inspection <u>IS NOT</u>:</h2>
    <pre style="font-size: 10.5pt">
    A home inspection is not technically exhaustive and does not identify concealed conditions or latent defects. According to Washington State Home Inspector Licensing Standards of Practice, inspectors are NOT required to:
    (1) Determine the condition of any system or component that is not readily accessible; the remaining service life of any system or component; the strength, adequacy, effectiveness or efficiency of any system or component; causes of any condition or deficiency; methods, materials, or cost of corrections; future conditions including, but not limited to, failure of systems and components.
    (2) Comment on the suitability of the structure or property for any specialized use, compliance with codes, regulations, laws or ordinances.
    (3) Report the presence of potentially hazardous plants or animals including, but not limited to, wood destroying insects or diseases harmful to humans; the presence of any environmental hazards including, but not limited to mold, toxins, carcinogens, noise, and contaminants in soil, water or air; the effectiveness of any system installed or methods utilized to control or remove suspected hazardous substances.
    (4) Determine the operating costs of any systems or components.
    (5) Determine the acoustical properties of any systems or components.
    (6) Operate any system or component that is shut down, not connected or is otherwise inoperable.
    (7) Operate any system or component that does not respond to normal user controls.
    (8) Operate any circuit breakers, water, gas or oil shutoff valves.
    (9) Offer or perform any act or service contrary to law.
    (10) Offer or perform engineering services or work in any trade or professional service other than home inspection.
    (11) Offer or provide warranties or guarantees of any kind unless clearly explained and agreed to by both parties in a pre-inspection agreement.
    (12) Determine the existence of or inspect any underground items including, but not limited to, underground storage tanks or sprinkler systems.
    (13) Inspect decorative items, or systems or components that are in areas not entered in accordance with the SOP.
    (14) Inspect detached structures, common elements and areas of multi-unit housing such as condominium properties or cooperative housing.
    (15) Perform any procedure or operation that will, in the opinion of the inspector, likely be dangerous to the inspector or others or damage the property, its systems or components.
    (16) Move suspended ceiling tiles, personal property, furniture, equipment, plants, soil, snow, ice or debris.
    (17) Dismantle any system or component, except as explicitly required by the SOP.
    (18) Enter flooded crawl spaces, attics that are not readily accessible, or any area that will, in the opinion of the inspector, likely be dangerous to the inspector or other persons or damage the property, its systems or components.
    (19) Inspect or comment on the condition or serviceability of elevators or related equipment.
    (20) Inspect or comment on the condition or serviceability of swimming pools, hot tubs, saunas, sports courts or other similar equipment or related equipment. 
    Inspectors are not limited from examining other systems and components or including other inspection services. Likewise, if the inspector is qualified and willing to do so, an inspector may specify the type of repairs to be made. 
    An inspector may exclude those systems or components that a client specifically requests not to be included in the scope of the inspection or those areas that, in the opinion of the inspector, are inaccessible due to obstructions or conditions dangerous to the inspector. When systems or components designated for inspection under this SOP are excluded, the reason the item was excluded will be reported.
    
<span style="font-size: 9.5pt;">[Statutory Authority: RCW 18.280.050 and 18.280.060(6). 09-08-014, § 308-408C-010-030, filed 3/20/09, effective 4/20/09.]</span>
    </pre>
  </div>

  <div class="page" ng-repeat="section in castle.data.sections">
    <div class="page_header">
      <div>
        <h2 ng-show="section.title">{{section.title}}</h2>
        <h2 style="float: right" ng-show="section.title">Report #{{castle.data.id}}</h2>
      </div>
      <div>
        <h4 ng-show="section.title">{{section.title}}</h4>
        <h4 style="float: right" ng-show="section.title">Report #{{castle.data.id}}</h4>
      </div>
    </div>
    <div class="subsection" ng-repeat="subsection in section.subsections">
      <div class="subsection_title" ng-show="subsection.title">{{subsection.title}}</div>
      <div class="questions">
        <div class="question" ng-repeat="question in subsection.questions">
          <p>{{question.title}}</p>
          <span ng-repeat="value in question.values">{{value.key}}, </span>
        </div>
      </div>
    </div>
    <div class="page_footer"></div>
  </div>
</body>
</html>
