<link type="text/css" rel="stylesheet" href="./dialogs/camera/camera_preview.css" />
<link type="text/css" rel="stylesheet" href="./pages/templates/templates.css" />
<div class="page">
    
<div class="breadCrumbs" layout="row" layout-align="start center">
        <md-button class="md-caption" ng-class="getCrumbyClass('template_section')" ng-click="navigate(insId)" md-truncate>Section</md-button>
        <div>/</div>
        <md-button class="md-caption" ng-class="getCrumbyClass('template_subsection')" ng-click="navigate(insId, sectionIndex)" md-truncate>Subsection</md-button>
        <div>/</div>
        <md-button class="md-caption " ng-class="getCrumbyClass('template_question')" ng-click="navigate(insId, sectionIndex, subsectionIndex)" md-truncate >Questions</md-button>
        <div>/</div>
        <md-button class="md-caption" ng-class="getCrumbyClass('template_detail')" md-truncate>Question</md-button>
    <div flex=""></div>
</div>
<md-divider></md-divider>    
    <div class="pagePadding">
        <div style="padding: 16px;" class="md-title">
             Create a Question and/or set its default values.
        </div>
        <md-card>
            <md-card-content>
        <md-select ng-model="question.type" 
                   placeholder="Choose a Question Type" 
                   class="md-no-underline"
                   ng-required="true"
                   ng-disabled="question.notApplicable"
                   md-on-close="changeType()"
                   md-on-open="openType()"
                   aria-label="select question type"
                   ng-hide="question.insSourceType == 'theme'">
            <md-option ng-repeat="qType in questionTypes" ng-value="qType.key">{{qType.key}}
            </md-option>
        </md-select>
        <md-input-container class="md-block md-title" style="margin-top: 14px;">
          <label>Title</label>
          <input ng-model="question.title" ng-disabled="question.insSourceType == 'theme'"/>
        </md-input-container>
        
        <md-input-container class="md-block" style="margin-top: 14px;">
          <label>Description</label>
          <textarea ng-disabled="question.notApplicable" 
                       ng-model="question.description"
                       class="editInput md-caption"
                       style="background-color:inherit;"
                       md-minlength='question.validation.min' 
                       md-maxlength='question.validation.max'
                    rows="1"></textarea>
        </md-input-container>
            
    <form name="questionForm" style="padding-left: 0px;"  
          ng-class="question.notApplicable ? 'disabled' : ''">
        <div ng-if="question.type == 'checkbox'" id="sortParent">
            <div ng-repeat="checkBox in question.values track by $index" class="questionIndent" ng-hide="checkBox.deleted === true">
                <div layout="row" layout-align="start center">
                <md-button class="md-icon-button" style="margin-bottom: 16px;" 
                           aria-label="delete answer"
                           ng-click="remove($index, question.values)"
                           >
                    <md-icon md-svg-src="cancel"></md-icon>
                </md-button>
                <md-checkbox ng-checked="checkBox.checked" 
                             ng-click="toggle(checkBox)"
                             ng-disabled="question.notApplicable"
                             aria-label="checkbox">
                </md-checkbox>
                <md-input-container class="md-block">
                <input type="text" 
                           ng-disabled="false" 
                           ng-model="checkBox.key"
                           class="editInput"
                           style="background-color:inherit;"
                           aria-label="{{checkbox.key}}"
                           />
                </md-input-container>
                <span flex=""></span>
                <md-button class="md-icon-button" ng-click="addPhotos(checkBox.id, checkBox.key)" ng-show="exists(checkBox.key, question.answers)" >
                  <md-icon md-svg-icon="shutter_camera"></md-icon>
                </md-button>
                </div>
                <div class="auto-comment-container">
                    <md-autocomplete md-selected-item="checkBox.autoComment" style="width:100%; height: 40px" md-search-text="acSearchText" md-selected-item-change="selectAutoComment(checkBox, autoComment.acAutoComment)" md-search-text-change="filterAutoComments(acSearchText)" md-items="autoComment in autoComments | filter:acSearchText" md-item-text="autoComment.acAutoComment">
                      <md-item-template>
                        <span md-highlight-text="acSearchText" md-highlight-flags="^ig">{{autoComment.acKey}} - {{autoComment.acAutoComment}}</span>
                      </md-item-template>
                      <md-not-found>
                        No matches found.
                      </md-not-found>
                    </md-autocomplete>
                    <!--<textarea ng-model="checkBox.autoComment" style="width:100%; height: 40px"></textarea>-->
                </div>
            </div>

<!--
            <div>
                <md-checkbox ng-model="newCheckBoxKey" 
                             ng-click="toggle(otherValue.value, question.answers, true)">
                    Other:
                </md-checkbox>
                <input  ng-show="newCheckBoxKey"
                        ng-model="otherValue.value" 
                        type="text" 
                        class="inlineInput">
            </div>
-->
            <md-button class="md-accent md-raised" aria-label="add checkbox" ng-click="add(question.values, '')">
                Add Checkbox
            </md-button>
        </div>
        
        <div ng-if="question.type == 'radio' || question.type == 'dropdown'" 
             id="sortParent">
            <md-radio-group ng-model="question.answer"
                            ng-required="question.validation.isRequired"
                            ng-disabled="question.notApplicable" >
                <div 
                     ui-sortable="sortOptions"   
                     ng-model="question.values">
                <div ng-repeat="radioButton in question.values" >
                    <div layout="row" layout-align="start center">
<!--
                    <div class="handle">
                        <md-icon md-svg-icon="drag_handle" ></md-icon>
                    </div>
-->
                <md-button class="md-icon-button" 
                           aria-label="delete answer"
                           ng-click="remove($index, question.values)">
                    <md-icon md-svg-src="cancel"></md-icon>
                </md-button>
                <md-radio-button style="margin: 0"
                                 class="questionIndent" 
                                 aria-label="radio option"
                                 ng-value="radioButton.key"
                                 ng-click="toggle(radioButton)">{{radioButton.key}}
                </md-radio-button>
                <span flex=""></span>
                <md-button class="md-icon-button" ng-click="addPhotos(radioButton.id, radioButton.key)" ng-show="radioButton.key == question.answer" >
                  <md-icon md-svg-icon="shutter_camera"></md-icon>
                </md-button>
                </div>
                <div class="auto-comment-container">
                      <md-autocomplete md-selected-item="radioButton.autoComment" style="width:100%; height: 40px; top:10px" md-search-text="acSearchText" md-selected-item-change="selectAutoComment(radioButton, autoComment.acAutoComment)" md-search-text-change="filterAutoComments(acSearchText)" md-items="autoComment in autoComments | filter:acSearchText" md-item-text="autoComment.acAutoComment">
                      <md-item-template>
                        <span md-highlight-text="acSearchText" md-highlight-flags="^ig">{{autoComment.acKey}} - {{autoComment.acAutoComment}}</span>
                      </md-item-template>
                      <md-not-found>
                        No matches found.
                      </md-not-found>
                    </md-autocomplete>
                </div>
                </div>
               </div>
            </md-radio-group>
            <div layout="row" layout-align="start center">
             <md-button class="md-accent md-raised" 
                        aria-label="add radio button" 
                        ng-click="addRadio()"
                        ng-disabled="newRadioVal.value == null">
                Add Radio
             </md-button>
             <div style="margin-left: 8px;">
                <input ng-model="newRadioVal.value" 
                       type="text"
                       aria-label="radio button"
                       class="inlineInput">
             </div>
            </div>
        </div>
<!--
        <div ng-if="question.type == 'dropdown'">
            <md-select ng-model="question.answer" 
                       placeholder="Choose" 
                       class="md-no-underline"
                       ng-required="question.validation.isRequired"
                       ng-disabled="question.notApplicable">
                <md-option ng-repeat="selectOption in question.values" ng-value="selectOption.key">{{selectOption.key}}
                </md-option>
            </md-select>
        </div>
-->
        <div ng-if="question.type == 'text'">
            <md-input-container>
                <label>Your Answer</label>
                <input ng-model="question.answer" 
                       type="{{question.validation ? question.validation.type : 'text'}}" 
                       md-minlength='question.validation.min' 
                       md-maxlength='question.validation.max'
                       md-select-on-focus
                       ng-required="question.validation.isRequired"
                       ng-disabled="question.notApplicable"
                       name="shortText"
                       >
                <md-button class="md-icon-button text-photo-button" ng-click="addPhotos(question.values[0].id, question.values[0].key)" ng-show=true>
                  <md-icon md-svg-icon="shutter_camera"></md-icon>
                </md-button>
                <div ng-messages="questionForm.shortText.$error" 
                     ng-show="questionForm.shortText.$dirty">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="md-minlength">That's too short!</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
            
            <md-switch ng-model="question.validation.isRequired" aria-label="is required switch">
                Is Required
            </md-switch>
            
            <md-select ng-model="question.validation.type" 
                       placeholder="Add Validation" 
                       class="md-no-underline"
                       ng-disabled="question.notApplicable"
                       aria-label="select question type">
                <md-option ng-repeat="validationType in [{'title':'None','value':''},{'title':'Number','value':'number'},{'title':'Date','value':'date'},{'title':'Text','value':'text'}]" ng-value="validationType.value">{{validationType.title}}
                </md-option>
            </md-select>
            <div ng-show="question.validation.type && question.validation.type != 'date'">
            <md-input-container>
            <label>max value</label>
            <input type="text" 
                       ng-disabled="false" 
                       ng-model="question.validation.max"
                       aria-label="add max value"
                       />
            </md-input-container>
            
            <md-input-container>
            <label>min value</label>
            <input type="text" 
                       ng-disabled="false" 
                       ng-model="question.validation.min"
                       aria-label="add min value"
                       />
            </md-input-container>
            </div>
        </div>
        <div ng-if="question.type == 'textarea'">
            <md-input-container class="md-block" >
                <label>Your Answer</label>
                <textarea ng-model="question.answer" 
                          md-minlength="question.validation.min" 
                          md-maxlength="question.validation.max" 
                          md-select-on-focus
                          ng-required="question.validation.isRequired"
                          ng-disabled="question.notApplicable"
                          name="testArea"></textarea>
                <div ng-messages="questionForm.testArea.$error" 
                     ng-show="questionForm.testArea.$dirty">
                  <div ng-message="required">This is required!</div>
                  <div ng-message="md-minlength">That's too short!</div>
                  <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
        </div>
        <div ng-if="question.type === 'photo'">
            <div ng-show="question.photos.length <= 0">
                No Photos Yet!
            </div>

            <div layout="row" layout-align="start center" layout-wrap>
            <div ng-repeat="photo in question.photos"
                 class="photo md-whiteframe-1dp"
                 
                 style="background-image: url( {{photo.link}} ); margin: 10px;" 
                 ng-click="showFullScreen($event, photo)">
            </div>
            </div>
          </div>
        <div ng-if="question.type !== 'photo'" 
             layout="row" 
             layout-align="start center" 
             layout-wrap>
                <div ng-repeat="photo in question.photos"
                 class="md-whiteframe-1dp"
                 ng-click="showFullScreen($event, photo)">
                    <div style="margin: 10px; width: 200px;">{{photo.title}}</div>
                    <div class="photo" style="background-image: url( {{photo.link}} ); margin: 10px;" >
                    </div>
                </div>
        </div>          
    </form>
            </md-card-content>
        </md-card>
        <md-card class="flatCard">
            <md-card-content>
              <div class="headBlock">
                <div layout="row" layout-align="center start">     
                    <div class="md-title">Comment</div>
                    <span flex=""></span>
                </div>
               <md-input-container class="md-block">
                  <label>Add a comment here</label>
                  <textarea ng-model="question.comments"></textarea>
                </md-input-container>
              </div>
            </md-card-content>
        </md-card>
        <md-card class="flatCard">
            <md-card-content>
            <div class="headBlock">
                <div class="md-title">Summary Classification</div>
                <div class="md-caption" style="margin: 4px 0 4px 0;" >
                    This determines if and where this question goes in the auto generated summary.
                </div>
            </div>
            <div layout="row" layout-wrap class="buttonWrapper">
                <div  layout="column" layout-align="center center">
                    <md-button class="md-fab md-mini" 
                               ng-class="question.severity == 'Not Applicable' ? 'md-accent selectedBtn' : 'md-raised'"
                               aria-label="Not Applicable"
                               ng-click="setSeverity('Not Applicable')">
                        <md-icon md-svg-icon="remove_circle"></md-icon>
                    </md-button>
                    <div class="label">Not Applicable</div>
                </div>
                <div ng-repeat="fabButton in severityList" 
                     
                     layout="column" layout-align="center center">
                    <md-button class="md-fab md-mini" 
                               ng-class="question.severity == fabButton.title ? 'md-accent selectedBtn' : 'md-raised'"
                               aria-label="fabButton.title"
                               ng-click="setSeverity(fabButton.title)"
                               ng-disabled="true">
                        <md-icon md-svg-icon="{{fabButton.icon}}"></md-icon>
                    </md-button>
                    <div class="label">{{fabButton.title}}</div>
                </div>
            </div>
            <div ng-show="question.severity == 'Not Applicable'">"Not applicable" questions won't be included in the final report.</div>

            </md-card-content>
        </md-card>
     </div>   
</div>


