<link rel="stylesheet" type="text/css" href="pages/login/login.css" />
<div class="page">
 <div class="login actionSpace">
  <img class="logo" src="assets/Castle-Logo-Main.png" />

  <md-tabs md-dynamic-height md-center-tabs="true" class="tabs">
    <md-tab>
      <md-tab-label>Login</md-tab-label>
      <md-tab-body>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Username</label>
          <md-icon md-svg-icon="account_circle"></md-icon>
          <input ng-model="user.username" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Password</label>
          <md-icon md-svg-icon="password"></md-icon>
          <input ng-model="user.password" type="password">
        </md-input-container>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>Register</md-tab-label>
      <md-tab-body>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Access Code</label>
          <md-icon md-svg-icon="lock"></md-icon>
          <input ng-model="new_user.access_code" type="number">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Username</label>
          <md-icon md-svg-icon="account_circle"></md-icon>
          <input ng-model="new_user.username" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Password</label>
          <md-icon md-svg-icon="password"></md-icon>
          <input ng-model="new_user.password" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Email</label>
          <md-icon md-svg-icon="email"></md-icon>
          <input ng-model="new_user.email" type="email">
        </md-input-container>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
</div>