<link rel="stylesheet" type="text/css" href="pages/login/login.css" />
<div class="page login">
  <img class="logo" src="assets/Castle-Logo-Main.png" />

  <md-tabs md-dynamic-height md-center-tabs="true" class="tabs">
    <md-tab>
      <md-tab-label>Login</md-tab-label>
      <md-tab-body>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Username</label>
          <md-icon md-svg-icon="account_circle" class="name"></md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Password</label>
          <md-icon md-svg-icon="password" class="name"></md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
      </md-tab-body>
    </md-tab>
    <md-tab>
      <md-tab-label>Register</md-tab-label>
      <md-tab-body>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Access Code</label>
          <md-icon md-svg-icon="lock" class="name"></md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Username</label>
          <md-icon md-svg-icon="account_circle" class="name"></md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Password</label>
          <md-icon md-svg-icon="password" class="name"></md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
        <md-input-container class="md-icon-float md-block">
          <!-- Use floating label instead of placeholder -->
          <label>Email</label>
          <md-icon md-svg-icon="email" class="name"></md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
      </md-tab-body>
    </md-tab>
  </md-tabs>
</div>
